@use "variables" as *;
@use "mixins" as *;

//main Movilidad
#contexto,
#context {
    .context-data {
        width: 100%;
        @include fnFlex(row, flex-start, center, 5rem);
        clip-path: fill-box;
        overflow-x: scroll;
        &__uno {
            @include fnFlex(row, flex-start, center, 3rem);
            min-width: 60rem;
            &-mapa {
                @include fnFlex(column, flex-start, flex-start, 1rem);
                width: 100%;
            }
            padding-bottom: 5rem;
            img {
                height: 15rem;
            }
        }
        &__dos {
            @include fnFlex(column, center, center, 2rem);
            padding: 0px 5rem;
            img {
                height: 10rem;
            }
            &-pistolas {
                @include fnFlex(row, flex-start, center, 1.5rem);
                padding: 0px;
                margin: 0px;
                flex-wrap: wrap;
                width: 15rem;
                img {
                    width: 4rem;
                }
                span {
                    width: 15rem;
                }
            }
            #brandColab {
                height: 9.5rem;
            }
            padding-bottom: 5rem;
        }
    }
}

#interfaz,
#interface {
    .research {
        @include fnFlex(column, flex-start, center, 5rem);
        width: 100%;
        &__brand {
            @include fnFlex(column, flex-start, flex-start, 2rem);
            width: 100%;
            img {
                height: 3rem;
            }
            &-screens {
                @include fnFlex(row, flex-start, center, 3rem);
                width: 100%;
                flex-wrap: wrap;
                img {
                    height: 25rem;
                }
            }
        }
    }
    .schema {
        @include fnFlex(row, center, flex-start, 0rem);
        width: 100%;
        @include mobile {
            @include fnFlex(column, center, center, 3rem);
        }
        img {
            width: 70%;
            height: auto;
            @include mobile {
                width: 100%;
            }
        }
        &-legenda {
            @include fnFlex(column, flex-start, flex-start, 3rem);
            width: 10%;
            padding-top: 5rem;
            @include mobile {
                @include fnFlex(row, center, flex-start, 3rem);
                flex-wrap: wrap;
                width: 100%;
            }
            &__item {
                @include fnFlex(row, center, center, 1rem);
                img {
                    width: 2rem;
                }
                span {
                    width: 10rem;
                    @include fnFont("Raleway-Medium", 1.4rem, none, $shade-500);
                }
            }
        }
    }
    .questions {
        @include fnFlex(row, center, center, 10rem);
        width: 100%;
        @include mobile {
            @include fnFlex(column, center, center, 5rem);
        }
        &__item {
            @include fnFlex(column, center, flex-start, 1rem);
            width: 100%;
            &-grafica {
                @include fnFlex(row, center, flex-end, 0rem);
                width: 100%;
                border-radius: 0.5rem;
                clip-path: fill-box;
                img {
                    width: 2rem;
                }
                &-barra {
                    @include fnFlex(row, center, center, 0rem);
                    padding: 2rem 3rem;
                    @include fnFont("Raleway-Medium", 1.4rem, none, $shade-0);
                }
                &-preg {
                    span {
                        @include fnFont("Raleway-SemiBold", 1.5rem, none, $red-800);
                    }
                    width: 100%;
                    text-align: center;
                    @include fnFont("Raleway-SemiBold", 1.25rem, none, $red-800);
                    padding: 0.5rem 0rem;
                    @include fnFlex(column, center, center, 1rem);
                    border-bottom-color: $red-800;
                    border-bottom-style: solid;
                    border-bottom-width: 0.5rem;
                    padding-bottom: 2rem;
                    border-radius: 0px;
                    margin-bottom: 0.75rem;
                }
            }
            #mujer {
                background-color: $red-800;
                width: 50%;
            }
            #hombre {
                background-color: #2088ff;
                width: 47%;
            }
            #otros {
                padding: 0px;
                width: 3%;
            }
            #preg1 {
                width: calc(100% / 9 * 2);
            }
            #preg2 {
                width: calc(100% / 9 * 3);
            }
            #preg3 {
                width: calc(100% / 9 * 3);
            }
            #preg4 {
                width: calc(100% / 9);
            }
        }
    }
    .exercise {
        @include fnFlex(column, center, center, 3rem);
        width: 100%;
        &__imgs {
            @include fnFlex(row, center, center, 5rem);
            justify-content: space-between;
            width: 60%;
            @include mobile {
                width: 80%;
                justify-content: center;
            }
            img {
                width: 7.5rem;
                @include mobile {
                    width: 9rem;
                }
            }
            #screen1,
            #screen2,
            #wordMap {
                height: 20rem;
                width: auto;
            }
            @include tablet {
                #screen1,
                #screen2 {
                    display: none;
                }
                #wordMap {
                    width: 100%;
                }
            }
        }
        &__text {
            @include fnFlex(row, flex-start, flex-start, 5rem);
            @include mobile {
                @include fnFlex(column, center, center, 2rem);
            }
            &-column {
                @include fnFlex(column, center, flex-start, 2rem);
                width: 50%;
                @include mobile {
                    width: 100%;
                }
                &__item {
                    @include fnFlex(column, center, flex-start, 1rem);
                    h3 {
                        @include fnFont("Raleway-Bold", 1.5rem, none, $shade-800);
                    }
                }
            }
        }
    }
}

#notificaciones,
#notifications {
    .example {
        width: 100%;
        &-container {
            @include fnFlex(row, space-between, center, 5rem);
            width: 100%;
            &__control {
                @include fnFlex(row, center, center, 1rem);
                height: 15rem;
                clip-path: fill-box;
                &-arrows {
                    @include fnFlex(column, space-between, center, 1rem);
                    height: 100%;
                    img {
                        width: 4rem;
                        height: 4rem;
                        transition: all 0.3s ease-in-out;
                    }
                    .arrow {
                        &:hover {
                            cursor: pointer;
                            transform: scale(1.2);
                        }
                    }
                }
                &-buttons {
                    @include fnFlex(column, center, flex-start, 1rem);
                    &-item {
                        @include fnFlex(row, flex-start, center, 1rem);
                        background-color: $shade-0;
                        border-radius: 0.5rem;
                        padding: 1.5rem 1.5rem;
                        width: 100%;
                        //transition: all 0.3s ease-in-out;
                        img {
                            width: 2.4rem;
                            height: 2.4rem;
                        }
                        span {
                            @include fnFont("Raleway-SemiBold", 2.4rem, none, $shade-800);
                            width: max-content;
                            @include tablet {
                                display: none;
                            }
                        }
                    }
                    #uno,
                    #tres {
                        opacity: 0.5;
                        transform-origin: left;
                        transform: scale(0.8);
                    }
                }
            }
            &__screens {
                @include fnFlex(row, space-around, center, 3rem);
                width: 100%;
                height: 34rem;
                scroll-behavior: smooth;
                overflow-x: scroll;
                clip-path: fill-box;
                overflow-y: hidden;
                img {
                    height: 20rem;
                    width: auto;
                    padding: 2rem 0px;
                }
                .arrow {
                    display: none;
                }
            }
        }
        .iOsIsland,
        .iOsNotification {
            width: 40rem;
            height: auto;
        }
        .iWatch,
        .standBy,
        .wear {
            height: 30rem;
            width: auto;
        }
        .noti {
            width: 30rem;
            height: auto;
        }
    }
}

#flujo-y-metodos,
#flow-and-methods {
    .flow-schema {
        @include fnFlex(row, space-between, center, 3rem);
        width: 100%;
        height: 15rem;
        overflow-x: auto;
        img {
            width: 4rem;
            height: 4rem;
        }
        &-item {
            @include fnFlex(column, center, center, 0.5rem);
            cursor: pointer;
            width: 10rem;
            transition: all 0.3s ease-in-out;
            img {
                width: 3.5rem;
                height: 3.5rem;
            }
            span {
                @include fnFont("Raleway-SemiBold", 1.2rem, none, $red-800);
                text-align: center;
                width: 100%;
            }
        }
    }
    .flow-description {
        @include fnFlex(row, space-between, center, 5rem);
        width: 100%;
        text-align: center;
        @include mobile {
            @include fnFlex(column, space-between, center, 5rem);
            width: 100%;
        }
        img {
            height: 45rem;
            width: auto;
        }
        &-text {
            @include fnFlex(column, center, flex-start, 2rem);
            width: 100%;
            .subtitle {
                text-align: left;
            }
            span {
                text-align: left;
                width: max-content;
            }
        }
        &-content {
            @include fnFlex(column, center, center, 2rem);
            width: 100%;
            .flow-schema {
                @include fnFlex(row, space-between, center, 3rem);
                height: 15rem;
                overflow-x: auto;
                img {
                    width: 4rem;
                    height: 4rem;
                }
                &-item {
                    @include fnFlex(column, center, center, 0.5rem);
                    cursor: pointer;
                    width: 10rem;
                    transition: all 0.3s ease-in-out;
                    img {
                        width: 3.5rem;
                        height: 3.5rem;
                    }
                    span {
                        @include fnFont("Raleway-SemiBold", 1.2rem, none, $red-800);
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.step-image {
    width: 80%;
    height: auto;
    @include mobile {
        display: none;
    }
}

.step-image-mov {
    width: 50%;
    display: none;
    @include mobile {
        display: block;
    }
}

.step-columns {
    @include fnFlex(row, center, flex-start, 5rem);
    width: 90%;
    padding: 0px 5%;
    @include mobile {
        @include fnFlex(column, center, center, 10rem);
        width: 100%;
        padding: 0px;
        text-align: center;
    }
    &__item {
        @include fnFlex(column, center, center, 2rem);
        h3 {
            width: 100%;
            text-align: center;
        }
        &-graph {
            @include fnFlex(row, center, center, 1rem);
            flex-wrap: wrap;
            @include tablet {
                @include fnFlex(row, center, center, 2rem);
            }
            img {
                width: calc((100% - 11rem) / 10);
                @include tablet {
                    width: calc((100% - 18rem) / 10);
                }
            }
        }
        &-legend {
            @include fnFlex(row, flex-start, center, 1rem);
            flex-wrap: wrap;
            div {
                @include fnFlex(row, center, center, 1rem);
                width: calc((100% - 2rem) / 3);
                @include mobile {
                    @include fnFlex(row, center, center, 2rem);
                }
                img {
                    width: 1.5rem;
                    @include mobile {
                        width: 2.5rem;
                    }
                }
                span {
                    @include fnFont("Raleway-Medium", 1.4rem, none, $shade-600);
                }
            }
        }
        &-legendList {
            @include fnFlex(column, flex-start, center, 1rem);
            width: 100%;
            div {
                @include fnFlex(row, center, center, 1rem);
                width: 100%;
                @include mobile {
                    @include fnFlex(row, center, center, 2rem);
                }
                img {
                    width: 1.5rem;
                    @include mobile {
                        width: 2.5rem;
                    }
                }
                span {
                    @include fnFont("Raleway-Medium", 1.4rem, none, $shade-600);
                }
            }
        }
        &-barra {
            @include fnFlex(column, flex-start, center, 1rem);
            width: 100%;
            .barra-data {
                @include fnFlex(row, flex-start, center, 1rem);
                width: 100%;
                img {
                    width: 2rem;
                    @include mobile {
                        width: 2.5rem;
                    }
                }
                &__bar {
                    width: 100%;
                    height: 2rem;
                    background-color: $red-100;
                    border-radius: 0.5rem;
                    overflow: hidden;
                    position: relative;
                    .barra-data__bar-fill {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: $red-800;
                    }
                }
            }
        }
    }
}

.three-columns {
    width: calc((100% - 10rem) / 3);
    @include tablet {
        width: 100%;
    }
}

.two-columns {
    width: calc((100% - 10rem) / 2);
    @include tablet {
        width: 100%;
    }
}

.subtitle {
    width: 100%;
    @include fnFont("Raleway-Bold", 2rem, none, $shade-600);
}

iframe {
    border: none;
    border-radius: 1rem;
    width: 100%;
    height: 80rem;
    mix-blend-mode: multiply;
}

.screens {
    @include fnFlex(row, center, center, 5rem);
    width: 100%;
    @include mobile {
        width: 90%;
    }
    img {
        width: calc((100% - 40rem) / 5);
        height: auto;
        @include mobile {
            width: calc((100% - 35rem));
        }
    }
    #hubbub-1,
    #hubbub-5 {
        @include mobile {
            display: none;
        }
    }
}

.design-space {
    @include fnFlex(row, center, center, 5rem);
    width: 80%;
    @include mobile {
        width: 100%;
        @include fnFlex(column, center, center, 5rem);
    }
    .first-column {
        @include fnFlex(column, space-between, space-between, 3rem);
        height: 100%;
        @include mobile {
            @include fnFlex(row, center, center, 3rem);
        }
    }
    .second-column {
        @include fnFlex(column, flex-start, flex-start, 3rem);
        width: 100%;
        .title {
            @include fnFont("Raleway-Bold", 2.4rem, none, $shade-800);
            text-align: left;
            @include mobile {
                width: 100%;
                text-align: center;
            }
        }
        .typo {
            @include fnFont("Raleway-Regular", 2.4rem, none, $shade-600);
            text-align: left;
            @include mobile {
                width: 100%;
                text-align: center;
            }
        }
        .icons {
            @include fnFlex(row, center, center, 2rem);
            width: 100%;
            flex-wrap: wrap;
            
        }
        .colours {
            @include fnFlex(row, space-between, center, 0rem);
            width: 100%;
            @include mobile {
                @include fnFlex(column, center, center, 2rem);
            }
            div {
                @include fnFlex(column, center, center, 1rem);
                width: 100%;
                padding: 2rem 0rem;
                span {
                    width: 100%;
                    text-align: center;
                    @include fnFont("Raleway-Bold", 2rem, none, $shade-600);
                    mix-blend-mode: multiply;
                }
            }
        }
    }
}

.sketches {
    @include fnFlex(column, center, center, 2rem);
    width: 80%;
    @include mobile {
        @include fnFlex(row, center, center, 2rem);
        flex-wrap: wrap;
        width: 100%;
        img {
            width: calc((100% - 3rem) / 2);
        }
    }
    .sketch-row1,
    .sketch-row2 {
        @include fnFlex(row, center, center, 2rem);
        width: 100%;
        @include mobile {
            @include fnFlex(column, center, center, 2rem);
        }
    }
    .sketch-row1 {
        img {
            width: calc((100% - 4rem) / 3);
            @include mobile {
                width: 80%;
            }
        }
    }
    .sketch-row2 {
        img {
            width: calc((100% - 8rem) / 5);
            @include mobile {
                width: 80%;
            }
        }
    }
}

#sketches {
    @include mobile {
        display: none;
    }
}

#sketches-mov {
    display: none;
    @include mobile {
        display: flex;
    }
    #gif-9 {
        width: 100%;
    }
}

.my-book {
    width: 100%;
}

.page {
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: auto;
    }
}

#hus {
    width: 100%;
    height: 80rem;
    overflow-y: scroll;
    border-radius: 1rem;
    clip-path: fill-box;
    @include fnFlex(column, flex-start, center, 0rem);
    img {
        width: 80%;
        height: auto;
        @include mobile {
            width: 100%;
        }
    }
}

#programacion,
#programming {
    .tech-chart {
        @include fnFlex(row, flex-start, flex-start, 0rem);
        width: 100%;
        border-radius: 1rem;
        &-element {
            @include fnFlex(column, flex-start, center, 1rem);
            span {
                width: 100%;
                text-align: center;
                @include fnFont("Raleway-Medium", 1.5rem, none, $shade-700);
            }
            div {
                width: 100%;
                height: 1rem;
            }
        }
        #js {
            background-color: #f7df1d;
            border-radius: 1rem 0 0 1rem;
        }
        #php {
            background-color: #777bb3;
        }
        #scss {
            background-color: #cf649a;
            border-radius: 0 1rem 1rem 0;
        }
        #html {
            background-color: $shade-800;
        }
    }
}
