@use "variables" as *;
@use "mixins" as *;

//main Resume
#resume {
    padding-top: 10rem;
    align-items: center;
    .resume__sheet {
        @include fnCard();
        width: 215mm;
        background: white;
        padding: 15mm;
        border-radius: 3mm;
        &-body {
            @include fnFlex(column, flex-start, center, 5mm);
            width: 100%;
            overflow: hidden;
        }
        &-header {
            width: 100%;
            @include fnFlex(column, center, center, 1mm);
            h1 {
                @include fnFont("Raleway-Bold", 32px, none, $shade-700);
            }
            h2 {
                @include fnFont("Raleway-Bold", 12px, none, $shade-700);
            }
            hr {
                width: 100%;
                height: 0.2rem;
                background-color: $shade-200;
                border-radius: 1rem;
                border: none;
            }
        }
        &-content {
            @include fnFlex(row, center, flex-start, 10mm);
            width: 100%;
            &__info {
                @include fnFlex(column, center, flex-start, 5mm);
                width: 30%;
                &-card {
                    @include fnFlex(column, center, flex-start, 1mm);
                    h3 {
                        @include fnFont("Raleway-Bold", 12px, none, $shade-700);
                    }
                    &__bullets {
                        @include fnFlex(column, center, flex-start, 0.8mm);
                        p {
                            @include fnFont("Raleway-Medium", 10px, none, $shade-500);
                        }
                        a {
                            p {
                                @include fnFont("Raleway-Medium", 10px, none, $shade-700);
                            }
                        }
                    }
                }
            }
            &__body {
                width: 70%;
                @include fnFlex(column, flex-start, flex-start, 5mm);
                &-card {
                    @include fnFlex(column, flex-start, flex-start, 0mm);
                    h3 {
                        @include fnFont("Raleway-Bold", 12px, none, $shade-700);
                    }
                    &-summary {
                        ul {
                            padding-left: 4mm;
                            @include fnFont("Raleway-Medium", 10px, none, $shade-700);
                        }
                    }
                    &-experiencia {
                        padding: 2mm 0px 0px 0px;
                        h4 {
                            @include fnFont("Raleway-Medium", 10px, none, $shade-700);
                        }
                        &__ubicacion {
                            @include fnFont("Raleway-Medium", 10px, none, $shade-500);

                            padding-bottom: 5mm;
                        }
                        ul {
                            margin: 0;
                            padding-left: 4mm;
                            @include fnFont("Raleway-Medium", 10px, none, $shade-500);
                        }
                    }
                }
            }
        }
    }
}

.printable {
    display: none;
}

@media print {
    .nav-header,
    .tags-list,
    .btn,
    .secondary,
    .resume__sheet,
    .no-print {
        display: none;
    }

    .container-fluid {
        padding: 0;
        margin: 0;
    }

    .printable {
        display: flex;
        zoom: 1;
        height: max-content;
    }

    @page {
        margin: 15mm;
        margin-top: 0mm;
        size: auto;
    }

    .resume__sheet-content__body {
        width: 100%;
    }
}
