//main Variables

$red-800: #ff2079;
$red-700: #ff3c8a;
$red-600: #ff589a;
$red-500: #ff74ab;
$red-400: #ff90bc;
$red-300: #ffabcd;
$red-200: #ffc7dd;
$red-100: #ffe3ee;

$shade-900: #000000;
$shade-800: #333333;
$shade-700: #4d4d4d;
$shade-600: #666666;
$shade-500: #808080;
$shade-400: #999999;
$shade-300: #b3b3b3;
$shade-200: #cccccc;
$shade-100: #e6e6e6;
$shade-50: #f2f2f2;
$shade-25: #f7f7f7;
$shade-0: #fff;
