@use "./general.scss" as c;

//main EXPERIENCEHOME
.job-pri-card {
    @include c.containers(1rem, column);
    box-shadow: 0px 30px 30px 0px rgba(51, 51, 51, 0.1);
    padding: 2.5rem;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 30rem;
    transition: all 0.25s ease-in-out;
    &:hover {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
        box-shadow: 0px 30px 30px 0px rgba(51, 51, 51, 0.2);
    }
    &-img {
        width: 50px;
        height: 50px;
    }
}

.job-sec-card {
    @include c.containers(1rem, column);
    box-shadow: 0px 30px 30px 0px rgba(51, 51, 51, 0.1);
    padding: 1rem;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 20rem;
    transition: all 0.25s ease-in-out;
    &:hover {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
        box-shadow: 0px 30px 30px 0px rgba(51, 51, 51, 0.2);
    }
    &-img {
        width: 20px;
        height: 20px;
    }
    &-data {
        @include c.containers(0rem, column);
        &-title {
            @include c.typo("bebas", "SemiBold", "sm");
        }
        &-duration {
            @include c.typo("bebas", "Regular", "c2");
            color: c.$red-600;
            text-align: center;
        }
        &-role {
            @include c.typo("montserrat", "SemiBold", "c1");
            text-align: center;
        }
    }
}

.cont-jobs {
    &-pri {
        @include c.containers(5rem, row);
        align-items: flex-start;
        width: 100%;
        flex-wrap: wrap;
    }
    &-sec {
        @include c.containers(2.5rem, row);
        align-items: flex-start;
        width: 100%;
        flex-wrap: wrap;
    }
}

.cont-exp {
    @include c.containers(0.5rem, column);
    align-items: flex-start;
}

.proj-card {
    @include c.containers(1rem, row);
    align-items: flex-start;
    width: 25rem;
    border-radius: 10px;
    border-color: c.$shade-0;
    border-style: solid;
    border-width: 0.1rem;
    padding: 1.5rem;
    color: c.$shade-100;
    transition: all 0.25s ease-in-out;
    &:hover {
        border-color: c.$red-800;
        box-shadow: 0px 0px 2rem 0px rgba(c.$shade-1000, 0.4) inset;
    }
    &-img {
        width: 25px;
        height: 25px;
    }
    &-data {
        @include c.containers(0rem, column);
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        &-date {
            @include c.typo("bebas", "regular", "base");
            color: c.$shade-300;
        }
        &-description {
            @include c.typo("montserrat", "semibold", "xs");
            color: c.$shade-100;
        }
    }
}

.con-proj {
    @include c.containers(2.5rem, row);
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

//main MEDIA

@media only screen and (max-width: 70vh) {
    .cont-jobs-pri {
        flex-direction: column;
        width: 100%;
        a {
            width: 100%;
        }
    }
    .job-pri-card {
        width: 100%;
    }
    .cont-exp {
        width: 100%;
    }
    .cont-jobs-sec {
        flex-direction: column;
        width: 100%;
    }
    .job-sec-card {
        width: 100%;
    }
    .proj-card {
        width: 100%;
    }
    .con-proj {
        a {
            width: 100%;
        }
        width: 100%;
    }
}

@media only screen and (max-width: 100vh) {
    .nav-left {
        display: none;
    }
    .div-content {
        padding: 9rem 10rem 0rem 10rem;
    }
    .middle {
        padding: 10rem;
        &-body {
            padding: 10rem;
        }
    }
    .cont-footer {
        padding: 5rem 10rem;
    }
    .title-container {
        padding: 14rem 10rem;
    }
}

@media only screen and (max-width: 140vh) {
    #cont-Home {
        width: 100%;
        height: max-content;
        padding-bottom: 100px;
    }
    .div-text {
        width: 100%;
    }
    .photo-portrait {
        display: none;
    }
    .cont-schools {
        @include c.containers(5rem, column);
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        height: min-content;
    }
    .card-school {
        width: 100%;
        min-height: max-content;
        max-height: max-content;
    }
    .card-course {
        min-width: calc(50% - 2.5rem);
        max-width: calc(50% - 2.5rem);
    }
    .exp-card {
        @include c.containers(2rem, row);
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        height: 200px;
    }
    .date-lateral {
        @include c.containers(0rem, column);
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        &-line {
            background-color: c.$shade-800;
            width: 3px;
            height: 100%;
            border-radius: 3px;
            margin: 0px 2rem;
            min-height: 10px;
        }
        &-month {
            border-color: c.$shade-800;
            border-style: solid;
            border-width: 0px 0rem 0px 0px;
            width: 100px;
            text-align: center;
            &-label {
                @include c.typo("montserrat", "SemiBold", "c3");
                color: c.$shade-800;
                margin: 0px;
                padding: 0.8rem 0rem;
            }
        }
    }
    .cont-contact {
        flex-direction: column;
        &-text {
            width: 100%;
        }
        &-form {
            width: 100%;
        }
    }
    .cont-footer-img {
        display: none;
    }
    .cont-footer {
        flex-wrap: wrap;
    }
}
