::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  mix-blend-mode: exclusion;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ff2079;
}

html {
  overflow-x: hidden;
}

@media screen and (max-width: 3840px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 2560px) {
  html {
    font-size: 13px;
  }
}
@media only screen and (max-width: 1920px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1600px) {
  html {
    font-size: 11px;
  }
}
@media only screen and (max-width: 1366px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width: 100vh) {
  html {
    font-size: 9px;
  }
}
::-moz-selection {
  background: #ff2079;
  color: #000;
  text-shadow: #333333 0px 0px 1px;
}
::selection {
  background: #ff2079;
  color: #000;
  text-shadow: #333333 0px 0px 1px;
}

@font-face {
  font-family: "Bebas-Neue";
  src: url(../assets/fonts/Bebas/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url(../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf);
}
.monXs {
  font-family: "Montserrat-Regular";
  font-size: 1.2rem;
  line-height: 1.56rem;
}

.monXl {
  font-family: "Montserrat-Regular";
  font-size: 2rem;
  line-height: 2.6rem;
}

.monBs {
  font-family: "Montserrat-Regular";
  font-size: 1.6rem;
  line-height: 2.08rem;
  color: #e6e6e6;
}
.monBs-dark {
  font-family: "Montserrat-Regular";
  font-size: 1.6rem;
  line-height: 2.08rem;
  color: #333333;
}

h1 {
  font-family: "Bebas-Neue";
  font-size: 32rem;
  line-height: 32rem;
  color: linear-gradient(45deg, rgba(68, 11, 212, 0.1) 0%, rgba(233, 46, 251, 0.1) 50%, rgba(255, 32, 121, 0.1) 100%), #333;
  opacity: 0.05;
  text-align: left;
  width: -moz-max-content;
  width: max-content;
  mix-blend-mode: multiply;
}

h2 {
  font-family: "Bebas-Neue";
  font-size: 9.6rem;
  line-height: 9.6rem;
  text-align: left;
  width: -moz-max-content;
  width: max-content;
}

h3 {
  font-family: "Bebas-Neue";
  font-size: 2.4rem;
  line-height: 3.12rem;
  color: #333333;
  text-align: center;
}

h4 {
  font-family: "Bebas-Neue";
  font-size: 2.4rem;
  line-height: 3.12rem;
}

a {
  text-decoration: none;
}

b {
  font-family: "Montserrat-SemiBold";
  font-size: 2rem;
  line-height: 2.6rem;
  color: #ff2079;
}

.div-content {
  display: flex;
  align-items: center;
  gap: 5rem;
  flex-direction: column;
  padding: 9rem 10rem 0rem 25rem;
  align-items: flex-start;
  align-self: stretch;
  mix-blend-mode: multiply;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  z-index: 1;
  width: 100%;
}
.div-content-plus {
  padding: 9rem 10rem 0rem 10rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  flex-direction: column;
  align-items: flex-start;
}
.div-content-plus h1 {
  color: #440bd4;
}

.title-container {
  padding: 14rem 25rem;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: absolute;
}
.title-container-plus {
  padding: 14rem 10rem;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: absolute;
}

.button {
  display: flex;
  align-items: center;
  gap: 0rem;
  flex-direction: row;
  justify-content: center;
}
.button-tertiary {
  color: #ff589a;
  text-transform: uppercase;
  font-family: "Bebas-Neue";
  font-size: 2.4rem;
  line-height: 3.12rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 117px;
  transition: all 0.1s ease-in-out;
}
.button-tertiary:hover {
  text-decoration: underline;
  color: #ff589a;
}

.middle {
  padding: 10rem 10rem 10rem 25rem;
}
.middle-plus {
  padding: 10rem;
}
.middle-body {
  padding: 10rem 20rem;
}

.dark {
  background: linear-gradient(45deg, rgba(68, 11, 212, 0.1) 0%, rgba(233, 46, 251, 0.1) 50%, rgba(255, 32, 121, 0.1) 100%), #333;
  color: #e6e6e6;
}

.nav-link {
  font-family: "Bebas-Neue";
  font-size: 1.4rem;
  line-height: 1.82rem;
  color: #b3b3b3;
  transition: all 0.25s ease-in-out;
}
.nav-link:hover {
  color: #b3b3b3;
}
.nav-link-normal {
  color: #b3b3b3;
  mix-blend-mode: exclusion;
}
.nav-link-normal:hover {
  color: #b3b3b3;
  text-decoration: underline;
  mix-blend-mode: exclusion;
}
.nav-link-inactive {
  color: #b3b3b3;
  mix-blend-mode: exclusion;
}
.nav-link-inactive:hover {
  color: #ff2079;
  text-decoration: underline;
  mix-blend-mode: exclusion;
}
.nav-link-active {
  color: #ff2079;
}
.nav-link-active:hover {
  color: #ff2079;
}
.nav-link-icons {
  width: 1.6rem;
  height: 1.6rem;
  mix-blend-mode: exclusion;
}
.nav-link-icons:hover {
  mix-blend-mode: normal;
}

.container-nav-link-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}
.container-nav-link-right {
  display: flex;
  align-items: center;
  gap: 5rem;
  flex-direction: row;
}
.container-nav-link-right-media {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}
.container-nav-link-right-language {
  display: flex;
  align-items: center;
  gap: 0rem;
  flex-direction: row;
}

.clickable {
  cursor: pointer;
}

.mixN {
  mix-blend-mode: normal;
}

.hero {
  display: flex;
  align-items: center;
  gap: 12rem;
  flex-direction: column;
  padding: 10rem 0rem;
}
.hero-logo {
  width: 10rem;
  height: 10rem;
}
.hero-logoName {
  height: 8rem;
}
.hero-role {
  font-family: "Montserrat-ExtraBold";
  font-size: 3.6rem;
  line-height: 4.68rem;
  color: #333333;
  text-align: center;
}
.hero-data {
  display: flex;
  align-items: center;
  gap: 0rem;
  flex-direction: column;
  padding: 0rem 10rem;
}
.hero-banner-Liverpool {
  height: 30rem;
  width: 100%;
  mix-blend-mode: multiply;
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center;
  animation: slide 300s infinite linear;
}
.hero-banner-HUBBUB {
  height: 30rem;
  width: 100%;
  mix-blend-mode: multiply;
  background-size: contain;
  background-repeat: repeat-x;
  background-position: center;
  animation: slide 60s infinite linear, color 5s infinite ease-in-out;
}
@keyframes slide {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000vw;
  }
}
@keyframes color {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(359deg);
  }
}

.nav-header {
  display: flex;
  width: 100vw;
  height: 4rem;
  padding: 10px 50px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 0.4rem 5rem 0px rgba(51, 51, 51, 0.1);
  position: fixed;
  z-index: 100;
}

.swal-icon {
  width: 75px;
  height: 75px;
  border: none;
}
.swal-icon-name {
  height: 30px;
}

.swal-title {
  font-family: "Montserrat-ExtraBold";
  font-size: 2rem;
  line-height: 2.6rem;
  color: #333333;
  margin-top: 3rem;
}

.swal-description {
  font-family: "Montserrat-Regular";
  font-size: 1.4rem;
  line-height: 1.82rem;
  color: #333333;
  margin-top: 3rem;
  text-align: center;
}

.swal2-icon {
  border-width: 0px;
}

.cont-footer {
  display: flex;
  align-items: center;
  gap: 5rem;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  background-color: #333333;
  position: relative;
  z-index: 100;
  padding: 5rem 15rem;
  color: #e6e6e6;
}
.cont-footer a {
  color: #e6e6e6;
}
.cont-footer a:hover {
  color: #ff2079;
}
.cont-footer-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
}
.cont-footer-card-text {
  font-family: "Montserrat-Regular";
  font-size: 1.2rem;
  line-height: 1.56rem;
  color: #e6e6e6;
  margin: 0px;
  padding: 0px;
}
.cont-footer-img {
  height: 100px;
}

.cont-copy {
  background-color: #000000;
  color: #b3b3b3;
  padding: 2.5rem 10rem;
  text-align: center;
  font-family: "Montserrat-Regular";
  font-size: 0.8rem;
  line-height: 1.04rem;
}

.info-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  width: 30rem;
  align-items: center;
  justify-content: center;
}
.info-card-icon {
  width: 8rem;
  height: 8rem;
}
.info-card-title {
  font-family: "Bebas-Neue";
  font-size: 3.2rem;
  line-height: 4.16rem;
}
.info-card-desc {
  font-family: "Montserrat-Regular";
  font-size: 1.6rem;
  line-height: 2.08rem;
  text-align: center;
}

.mini-info-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  max-width: 25rem;
  min-width: 25rem;
  align-items: center;
  justify-content: center;
}
.mini-info-card-icon {
  width: 5rem;
  height: 5rem;
}
.mini-info-card-title {
  font-family: "Bebas-Neue";
  font-size: 2.4rem;
  line-height: 3.12rem;
}
.mini-info-card-desc {
  font-family: "Montserrat-Regular";
  font-size: 1.4rem;
  line-height: 1.82rem;
  text-align: center;
}

@media only screen and (max-width: 140vh) {
  #cont-Home {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 100px;
  }
  .div-text {
    width: 100%;
  }
  .photo-portrait {
    display: none;
  }
  .cont-schools {
    display: flex;
    align-items: center;
    gap: 5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: -moz-min-content;
    height: min-content;
  }
  .card-school {
    width: 100%;
    min-height: -moz-max-content;
    min-height: max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  .card-course {
    min-width: calc(50% - 2.5rem);
    max-width: calc(50% - 2.5rem);
  }
  .exp-card {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 200px;
  }
  .date-lateral {
    display: flex;
    align-items: center;
    gap: 0rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
  .date-lateral-line {
    background-color: #333333;
    width: 3px;
    height: 100%;
    border-radius: 3px;
    margin: 0px 2rem;
    min-height: 10px;
  }
  .date-lateral-month {
    border-color: #333333;
    border-style: solid;
    border-width: 0px 0rem 0px 0px;
    width: 100px;
    text-align: center;
  }
  .date-lateral-month-label {
    font-family: "Montserrat-SemiBold";
    font-size: 0.8rem;
    line-height: 1.04rem;
    color: #333333;
    margin: 0px;
    padding: 0.8rem 0rem;
  }
  .cont-contact {
    flex-direction: column;
  }
  .cont-contact-text {
    width: 100%;
  }
  .cont-contact-form {
    width: 100%;
  }
  .cont-footer-img {
    display: none;
  }
  .cont-footer {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 100vh) {
  .nav-left {
    display: none;
  }
  .div-content {
    padding: 9rem 10rem 0rem 10rem;
  }
  .middle {
    padding: 10rem;
  }
  .middle-body {
    padding: 10rem;
  }
  .cont-footer {
    padding: 5rem 10rem;
  }
  .title-container {
    padding: 14rem 10rem;
  }
}
.job-pri-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  box-shadow: 0px 30px 30px 0px rgba(51, 51, 51, 0.1);
  padding: 2.5rem;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 30rem;
  transition: all 0.25s ease-in-out;
}
.job-pri-card:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  box-shadow: 0px 30px 30px 0px rgba(51, 51, 51, 0.2);
}
.job-pri-card-img {
  width: 50px;
  height: 50px;
}

.job-sec-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  box-shadow: 0px 30px 30px 0px rgba(51, 51, 51, 0.1);
  padding: 1rem;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 20rem;
  transition: all 0.25s ease-in-out;
}
.job-sec-card:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  box-shadow: 0px 30px 30px 0px rgba(51, 51, 51, 0.2);
}
.job-sec-card-img {
  width: 20px;
  height: 20px;
}
.job-sec-card-data {
  display: flex;
  align-items: center;
  gap: 0rem;
  flex-direction: column;
}
.job-sec-card-data-title {
  font-family: "Bebas-Neue";
  font-size: 1.4rem;
  line-height: 1.82rem;
}
.job-sec-card-data-duration {
  font-family: "Bebas-Neue";
  font-size: 1rem;
  line-height: 1.3rem;
  color: #ff589a;
  text-align: center;
}
.job-sec-card-data-role {
  font-family: "Montserrat-SemiBold";
  font-size: 1.2rem;
  line-height: 1.56rem;
  text-align: center;
}

.cont-jobs-pri {
  display: flex;
  align-items: center;
  gap: 5rem;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.cont-jobs-sec {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.cont-exp {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
}

.proj-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  align-items: flex-start;
  width: 25rem;
  border-radius: 10px;
  border-color: #fff;
  border-style: solid;
  border-width: 0.1rem;
  padding: 1.5rem;
  color: #e6e6e6;
  transition: all 0.25s ease-in-out;
}
.proj-card:hover {
  border-color: #ff2079;
  box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.4) inset;
}
.proj-card-img {
  width: 25px;
  height: 25px;
}
.proj-card-data {
  display: flex;
  align-items: center;
  gap: 0rem;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.proj-card-data-date {
  font-family: "Bebas-Neue";
  font-size: 1.6rem;
  line-height: 2.08rem;
  color: #b3b3b3;
}
.proj-card-data-description {
  font-family: "Montserrat-semibold";
  font-size: 1.2rem;
  line-height: 1.56rem;
  color: #e6e6e6;
}

.con-proj {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

@media only screen and (max-width: 70vh) {
  .cont-jobs-pri {
    flex-direction: column;
    width: 100%;
  }
  .cont-jobs-pri a {
    width: 100%;
  }
  .job-pri-card {
    width: 100%;
  }
  .cont-exp {
    width: 100%;
  }
  .cont-jobs-sec {
    flex-direction: column;
    width: 100%;
  }
  .job-sec-card {
    width: 100%;
  }
  .proj-card {
    width: 100%;
  }
  .con-proj {
    width: 100%;
  }
  .con-proj a {
    width: 100%;
  }
}
@media only screen and (max-width: 100vh) {
  .nav-left {
    display: none;
  }
  .div-content {
    padding: 9rem 10rem 0rem 10rem;
  }
  .middle {
    padding: 10rem;
  }
  .middle-body {
    padding: 10rem;
  }
  .cont-footer {
    padding: 5rem 10rem;
  }
  .title-container {
    padding: 14rem 10rem;
  }
}
@media only screen and (max-width: 140vh) {
  #cont-Home {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 100px;
  }
  .div-text {
    width: 100%;
  }
  .photo-portrait {
    display: none;
  }
  .cont-schools {
    display: flex;
    align-items: center;
    gap: 5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: -moz-min-content;
    height: min-content;
  }
  .card-school {
    width: 100%;
    min-height: -moz-max-content;
    min-height: max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  .card-course {
    min-width: calc(50% - 2.5rem);
    max-width: calc(50% - 2.5rem);
  }
  .exp-card {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 200px;
  }
  .date-lateral {
    display: flex;
    align-items: center;
    gap: 0rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
  .date-lateral-line {
    background-color: #333333;
    width: 3px;
    height: 100%;
    border-radius: 3px;
    margin: 0px 2rem;
    min-height: 10px;
  }
  .date-lateral-month {
    border-color: #333333;
    border-style: solid;
    border-width: 0px 0rem 0px 0px;
    width: 100px;
    text-align: center;
  }
  .date-lateral-month-label {
    font-family: "Montserrat-SemiBold";
    font-size: 0.8rem;
    line-height: 1.04rem;
    color: #333333;
    margin: 0px;
    padding: 0.8rem 0rem;
  }
  .cont-contact {
    flex-direction: column;
  }
  .cont-contact-text {
    width: 100%;
  }
  .cont-contact-form {
    width: 100%;
  }
  .cont-footer-img {
    display: none;
  }
  .cont-footer {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=experience.css.map */