//main Variables
$purple-800: #440bd4;
$pink-800: #e92efb;
$red-800: #ff2079;
$red-600: #ff589a;
$shade-1000: #000000;
$shade-800: #333333;
$shade-700: #4d4d4d;
$shade-600: #666666;
$shade-500: #808080;
$shade-400: #999999;
$shade-300: #b3b3b3;
$shade-200: #cccccc;
$shade-100: #e6e6e6;
$shade-0: #fff;
$transparent: rgba($shade-0, 0.01);
$gradient-col: linear-gradient(45deg, $purple-800 0%, $pink-800 50%, $red-800 100%);
$gradient: linear-gradient(45deg, rgba($purple-800, 0.1) 0%, rgba($pink-800, 0.1) 50%, rgba($red-800, 0.1) 100%), #333;

//main ScroolBar
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: $shade-0;
}
::-webkit-scrollbar-thumb {
    background-color: $shade-800;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: $shade-0;
    mix-blend-mode: exclusion;
    &:hover {
        background-color: rgba($red-800, 1);
    }
}

//main HTML
html, body {
    overflow-x: hidden;
    width: 100%;
    font-size: 16px;
}

body {
    position: relative;
    margin: 0px;
    padding: 0px;
    color: $shade-800;
    font-family: "Montserrat-Regular";
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

}

@media screen and (max-width: 3840px) {
    html {
        font-size: 14px;
    }
}
@media screen and (max-width: 2560px) {
    html {
        font-size: 13px;
    }
}
@media only screen and (max-width: 1920px) {
    html {
        font-size: 12px;
    }
}
@media only screen and (max-width: 1600px) {
    html {
        font-size: 11px;
    }
}
@media only screen and (max-width: 1366px) {
    html {
        font-size: 10px;
    }
}
@media only screen and (max-width: 100vh) {
    html {
        font-size: 9px;
    }
}
::selection {
    background: $red-800;
    color: #000;
    text-shadow: $shade-800 0px 0px 1px;
}

//main FONTS
@font-face {
    font-display: swap;
    font-family: "Bebas-Neue";
    src: url(../assets/fonts/Bebas/BebasNeue-Regular.ttf);
}
@font-face {
    font-display: swap;
    font-family: "Montserrat-Regular";
    src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-display: swap;
    font-family: "Montserrat-SemiBold";
    src: url(../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
    font-display: swap;
    font-family: "Montserrat-ExtraBold";
    src: url(../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf);
}

//* Mixins
@mixin typo($family, $weight, $size) {
    @if $family == "bebas" {
        font-family: "Bebas-Neue";
    } @else if $family == "montserrat" {
        font-family: "Montserrat-" + $weight;
    }

    $fsize: 0rem;

    @if $size == "c4" {
        $fsize: 0.5rem;
    } @else if $size == "c3" {
        $fsize: 0.8rem;
    } @else if $size == "c2" {
        $fsize: 1rem;
    } @else if $size == "c1" {
        $fsize: 1.2rem;
    } @else if $size == "xs" {
        $fsize: 1.2rem;
    } @else if $size == "sm" {
        $fsize: 1.4rem;
    } @else if $size == "base" {
        $fsize: 1.6rem;
    } @else if $size == "lg" {
        $fsize: 1.8rem;
    } @else if $size == "xl" {
        $fsize: 2rem;
    } @else if $size == "2xl" {
        $fsize: 2.4rem;
    } @else if $size == "3xl" {
        $fsize: 2.8rem;
    } @else if $size == "4xl" {
        $fsize: 3.2rem;
    } @else if $size == "5xl" {
        $fsize: 3.6rem;
    } @else if $size == "6xl" {
        $fsize: 4.4rem;
    } @else if $size == "7xl" {
        $fsize: 4.8rem;
    } @else if $size == "8xl" {
        $fsize: 5.6rem;
    } @else if $size == "9xl" {
        $fsize: 6.4rem;
    } @else if $size == "10xl" {
        $fsize: 8rem;
    } @else if $size == "12xl" {
        $fsize: 9.6rem;
    } @else if $size == "14xl" {
        $fsize: 11.2rem;
    } @else if $size == "titulo" {
        $fsize: 32rem;
    }

    font-size: $fsize;
    @if $size == "titulo" {
        line-height: $fsize;
    } @else if $size == "12xl" {
        line-height: $fsize;
    } @else {
        line-height: $fsize * 1.3;
    }
}
@mixin containers($gap, $direction) {
    display: flex;
    align-items: center;
    gap: $gap;
    flex-direction: $direction;
}
.monXs {
    @include typo("montserrat", "Regular", "xs");
}
.monXl {
    @include typo("montserrat", "Regular", "xl");
    width: 100%;
}
.monBs {
    @include typo("montserrat", "Regular", "base");
    color: $shade-100;
    &-dark {
        @include typo("montserrat", "Regular", "base");
        color: $shade-800;
    }
}
h1 {
    @include typo("bebas", "Regular", "titulo");
    color: $gradient;
    opacity: 0.05;
    text-align: left;
    width: max-content;
    mix-blend-mode: multiply;
}
h2 {
    @include typo("bebas", "Regular", "12xl");
    text-align: left;
    width: max-content;
}
h3 {
    @include typo("bebas", "Regular", "2xl");
    color: $shade-800;
    text-align: center;
}
h4 {
    @include typo("bebas", "Regular", "2xl");
}

//main GENERAL
a {
    text-decoration: none;
}
b {
    @include typo("montserrat", "SemiBold", "xl");
    color: $red-800;
}
.div-content {
    @include containers(5rem, column);
    padding: 9rem 10rem 0rem 25rem;
    align-items: flex-start;
    align-self: stretch;
    mix-blend-mode: multiply;
    min-height: 100vh;
    max-height: max-content;
    position: relative;
    z-index: 1;
    width: 100%;
    &-plus {
        padding: 9rem 10rem 0rem 10rem;
        @include containers(5rem, column);
        align-items: flex-start;

        h1 {
            color: #440bd4;
        }
    }
}
.title-container {
    padding: 14rem 25rem;
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    &-plus {
        padding: 14rem 10rem;
        height: 100vh;
        width: 100%;
        z-index: -1;
        position: absolute;
    }
}
.button {
    @include containers(0rem, row);
    justify-content: center;
    &-tertiary {
        color: $red-600;
        text-transform: uppercase;
        @include typo("bebas", "SemiBold", "2xl");
        margin-top: 3rem;
        @include containers(1rem, row);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 117px;
        transition: all 0.1s ease-in-out;
        &:hover {
            text-decoration: underline;
            color: $red-600;
        }
    }
}
.middle {
    padding: 10rem 10rem 10rem 25rem;
    &-plus {
        padding: 10rem;
    }
    &-body {
        padding: 10rem 20rem;
    }
}
.dark {
    background: $gradient;
    color: $shade-100;
}

.nav {
    &-link {
        @include typo("bebas", "Regular", "sm");
        color: $shade-300;
        transition: all 0.25s ease-in-out;

        &:hover {
            color: $shade-300;
        }

        &-normal {
            color: $shade-300;
            mix-blend-mode: exclusion;
        }

        &-normal:hover {
            color: $shade-300;
            text-decoration: underline;
            mix-blend-mode: exclusion;
        }

        &-inactive {
            color: $shade-300;
            mix-blend-mode: exclusion;
        }

        &-inactive:hover {
            color: $red-800;
            text-decoration: underline;
            mix-blend-mode: exclusion;
        }

        &-active {
            color: $red-800;
        }

        &-active:hover {
            color: $red-800;
        }

        &-icons {
            width: 1.6rem;
            height: 1.6rem;
            mix-blend-mode: exclusion;
        }

        &-icons:hover {
            mix-blend-mode: normal;
        }
    }
}
.container-nav-link {
    &-left {
        @include containers(1rem, row);
    }
    &-right {
        @include containers(5rem, row);
        &-media {
            @include containers(1rem, row);
        }
        &-language {
            @include containers(0rem, row);
        }
    }
}
.clickable {
    cursor: pointer;
}
.mixN {
    mix-blend-mode: normal;
}

.hero {
    @include containers(12rem, column);
    padding: 10rem 0rem;
    &-logo {
        width: 10rem;
        height: 10rem;
    }
    &-logoName {
        height: 8rem;
    }
    &-role {
        @include typo("montserrat", "ExtraBold", "5xl");
        color: $shade-800;
        text-align: center;
    }
    &-data {
        @include containers(0rem, column);
        padding: 0rem 10rem;
    }
    &-banner {
        &-Liverpool {
            height: 30rem;
            width: 100%;
            mix-blend-mode: multiply;
            background-size: cover;
            background-repeat: repeat-x;
            background-position: center;
            animation: slide 300s infinite linear;
        }
        &-HUBBUB {
            height: 30rem;
            width: 100%;
            mix-blend-mode: multiply;
            background-size: contain;
            background-repeat: repeat-x;
            background-position: center;
            animation:
                slide 60s infinite linear,
                color 5s infinite ease-in-out;
        }
        &-GOOK {
            height: 30rem;
            width: 100%;
            mix-blend-mode: multiply;
            background-size: contain;
            background-repeat: repeat-x;
            background-position: center;
            animation: slide 180s infinite linear;
        }
    }

    @keyframes slide {
        0% {
            background-position-x: 0px;
        }
        100% {
            background-position-x: 1000vw;
        }
    }

    @keyframes color {
        0% {
            filter: hue-rotate(0deg);
        }
        100% {
            filter: hue-rotate(359deg);
        }
    }
}

//main HEADER
.nav-header {
    display: flex;
    width: 100vw;
    height: 4rem;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: rgba($shade-0, 0.01);
    box-shadow: 0px 0.4rem 5rem 0px rgba($shade-800, 0.1);
    position: fixed;
    z-index: 100;
}

//main SWAL
.swal-icon {
    width: 75px;
    height: 75px;
    border: none;
    &-name {
        height: 30px;
    }
}
.swal-title {
    @include typo("montserrat", "ExtraBold", "xl");
    color: $shade-800;
    margin-top: 3rem;
}
.swal-description {
    @include typo("montserrat", "Regular", "sm");
    color: $shade-800;
    margin-top: 3rem;
    text-align: center;
}
.swal2-icon {
    border-width: 0px;
}

//main FOOTER
.cont-footer {
    @include containers(5rem, row);
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    background-color: $shade-800;
    padding: 5rem 15rem;
    color: $shade-100;
    width: 100%;
    position: relative;
    z-index: 100;

    a {
        color: $shade-100;
        &:hover {
            color: $red-800;
        }
    }

    &-card {
        @include containers(2rem, column);
        align-items: flex-start;
        width: 200px;
        &-text {
            @include typo("montserrat", "Regular", "xs");
            color: $shade-100;
            margin: 0px;
            padding: 0px;
        }
    }
    &-img {
        height: 100px;
    }
}

.cont-copy {
    background-color: $shade-1000;
    color: $shade-300;
    padding: 2.5rem 10rem;
    text-align: center;
    position: relative;
    z-index: 100;
    @include typo("montserrat", "Regular", "c3");
}

.info-card {
    @include containers(1rem, column);
    width: 30rem;
    align-items: center;
    justify-content: center;
    &-icon {
        height: 8rem;
    }
    &-title {
        @include typo("bebas", "Regular", "4xl");
    }
    &-desc {
        @include typo("montserrat", "Regular", "base");
        text-align: center;
    }
}

.mini-info-card {
    @include containers(1rem, column);
    max-width: 25rem;
    min-width: 25rem;
    align-items: center;
    justify-content: center;
    &-icon {
        width: 5rem;
        height: 5rem;
    }
    &-title {
        @include typo("bebas", "Regular", "2xl");
    }
    &-desc {
        @include typo("montserrat", "Regular", "sm");
        text-align: center;
    }
}

//main MEDIA

@media only screen and (max-width: 140vh) {
    .div-text {
        width: 100%;
    }
    .photo-portrait {
        display: none;
    }
    .cont-schools {
        @include containers(5rem, column);
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        height: min-content;
    }
    .card-school {
        width: 100%;
        min-height: max-content;
        max-height: max-content;
    }
    .card-course {
        min-width: calc(50% - 2.5rem);
        max-width: calc(50% - 2.5rem);
    }
    .exp-card {
        @include containers(2rem, row);
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        height: 200px;
    }
    .date-lateral {
        @include containers(0rem, column);
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        &-line {
            background-color: $shade-800;
            width: 3px;
            height: 100%;
            border-radius: 3px;
            margin: 0px 2rem;
            min-height: 10px;
        }
        &-month {
            border-color: $shade-800;
            border-style: solid;
            border-width: 0px 0rem 0px 0px;
            width: 100px;
            text-align: center;
            &-label {
                @include typo("montserrat", "SemiBold", "c3");
                color: $shade-800;
                margin: 0px;
                padding: 0.8rem 0rem;
            }
        }
    }
    .cont-contact {
        flex-direction: column;
        &-text {
            width: 100%;
        }
        &-form {
            width: 100%;
        }
    }
    .cont-footer-img {
        display: none;
    }
    .cont-footer {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 100vh) {
    .nav-left {
        display: none;
    }
    .div-content {
        padding: 9rem 10rem 0rem 10rem;
    }
    .middle {
        padding: 10rem;
        &-body {
            padding: 10rem;
        }
    }
    .cont-footer {
        padding: 5rem 10rem;
    }
    .title-container {
        padding: 14rem 10rem;
    }
}

@media only screen and (max-width: 600px) {
    html, body {
        overflow-x: hidden;
        width: 100%;
        font-size: 6px;
    }
    h2 {
        @include typo("bebas", "Regular", "10xl");
        text-align: left;
        width: max-content;
        line-height: -100px;
    }
    .div-content{
        padding: 9rem 5rem 0rem 5rem;
        height: max-content;
    }
}
