//main HUBBUB
@use "./general.scss" as c;

@font-face {
    font-family: "Asap-Bold";
    src: url(../assets/fonts/gook/Asap-Bold.otf);
}
@font-face {
    font-family: "Asap-Regular";
    src: url(../assets/fonts/gook/Asap-Regular.otf);
}
@font-face {
    font-family: "Geomanist-Bold";
    src: url(../assets/fonts/gook/Geomanist-Bold.otf);
}
@font-face {
    font-family: "Geomanist-Book";
    src: url(../assets/fonts/gook/Geomanist-Book.otf);
}
@font-face {
    font-family: "Geomanist-Light";
    src: url(../assets/fonts/gook/Geomanist-Light.otf);
}
@font-face {
    font-family: "Geomanist-Regular";
    src: url(../assets/fonts/gook/Geomanist-Regular.otf);
}

.gook {
    background: url("../assets/imgs/gook/background.png"), #fff;
    background-size: contain;
}

.cont-pasos {
    @include c.containers(5rem, row);
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.darkGook {
    background-color: #121212;
    color: c.$shade-100;
    h3 {
        color: c.$shade-200;
    }
}

.cont-parts {
    @include c.containers(5rem, row);
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.cont-works {
    @include c.containers(2rem, row);
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.cont-brand {
    @include c.containers(2rem, row);
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.cont-design {
    @include c.containers(0rem, row);
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

    &-item {
        width: 50%;
        @include c.containers(0rem, column);
        align-items: center;
        justify-content: center;
        padding: 0px 5rem;

        h5 {
            @include c.typo("montserrat", "SemiBold", "lg");
            text-align: left;
            width: 100%;
        }

        p {
            @include c.typo("montserrat", "Regular", "lg");
        }

        &-img {
            @include c.containers(0rem, row);
            justify-content: center;
            width: 100%;
            padding: 3rem 0;
        }
        &-txt {
            @include c.containers(0rem, column);
            justify-content: center;
            text-align: center;
            width: 100%;
            padding: 3rem 0;
            @include c.typo("montserrat", "SemiBold", "sm");
        }
    }

    img {
        width: 30%;
    }
}

#geomanist {
    h5 {
        font-family: "Geomanist-Bold";
    }
}

#asap {
    h5 {
        font-family: "Asap-Bold";
    }
}

#gLight {
    font-family: "Geomanist-Light";
}

#gRegular {
    font-family: "Geomanist-Regular";
}

#gBook {
    font-family: "Geomanist-Book";
}

#gBold {
    font-family: "Geomanist-Bold";
}

#aRegular {
    font-family: "Asap-Regular";
}

#aBold {
    font-family: "Asap-Bold";
}

#white {
    color: #000000;
}

#black {
    background-color: #000000;
    color: #fff;
}

.typo-add {
    @include c.containers(0rem, row);
    width: 100%;
    &-bullet {
        width: 50%;
    }
}

.cont-avatares {
    @include c.containers(2.5rem, row);
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    img {
        width: 7.5rem;
    }
}

.cont-packs {
    @include c.containers(2.5rem, row);
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    img {
        width: 15rem;
    }
}

.cont-gifs {
    @include c.containers(0rem, row);
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    img {
        width: 30rem;
    }
}

@media only screen and (max-width: 100vh) {
    .cont-design {
        @include c.containers(0rem, column);
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        &-item {
            width: 100%;
            @include c.containers(0rem, column);
            align-items: center;
            justify-content: center;
        }
    }

    #especial {
        gap: 5rem;
    }
}
