@use "./general.scss" as c;

$rose: #f061aa;
$blue: #0075ff;
$red: #ff7c7c;

//main FONTS
@font-face {
    font-display: swap;
    font-family: "Mons1";
    src: url(../assets/fonts/hubbub/Montserrat-ExtraLight.ttf);
}
@font-face {
    font-display: swap;
    font-family: "Mons2";
    src: url(../assets/fonts/hubbub/Montserrat-Light_0.ttf);
}
@font-face {
    font-display: swap;
    font-family: "Mons3";
    src: url(../assets/fonts/hubbub/Montserrat-Regular_0.ttf);
}
@font-face {
    font-display: swap;
    font-family: "Mons4";
    src: url(../assets/fonts/hubbub/Montserrat-Medium_0.ttf);
}
@font-face {
    font-display: swap;
    font-family: "Mons5";
    src: url(../assets/fonts/hubbub/Montserrat-SemiBold_0.ttf);
}
@font-face {
    font-display: swap;
    font-family: "Mons6";
    src: url(../assets/fonts/hubbub/Montserrat-Bold_0.ttf);
}
@font-face {
    font-display: swap;
    font-family: "Mons7";
    src: url(../assets/fonts/hubbub/Montserrat-ExtraBold_0.ttf);
}
@font-face {
    font-display: swap;
    font-family: "Mons8";
    src: url(../assets/fonts/hubbub/Montserrat-Black_0.ttf);
}

//main HUBBUB
.hubbub {
    background: url("../assets/imgs/hubbub/background.webp"), #fff;
    background-size: contain;
}

.cont-step {
    @include c.containers(5rem, row);
    width: 100%;
    align-items: flex-start;
    height: 100%;
}

.selected {
    opacity: 1;
}

.noneselected {
    opacity: 0.25;
}

.step-card {
    @include c.containers(0.5rem, column);
    width: calc((100% - 10rem) / 3);
    transition: all 0.25s ease-in-out;
    p {
        border-style: dotted;
        border-width: 0.5rem;
        border-radius: 1rem;
        padding: 2rem;
        @include c.typo("montserrat", "Regular", "sm");
        text-align: center;
    }
}

.cont-substep {
    @include c.containers(9rem, row);
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.microstep-card {
    @include c.containers(0.5rem, column);
    max-width: 20rem;
    h4 {
        @include c.typo("montserrat", "SemiBold", "base");
        text-align: center;
    }
    p {
        @include c.typo("montserrat", "Regular", "sm");
        text-align: center;
    }
}

#paso1 {
    h3,
    h4 {
        color: $rose;
    }
    .step-card-description {
        border-color: $rose;
    }
}

#paso2 {
    h3,
    h4 {
        color: $blue;
    }
    .step-card-description {
        border-color: $blue;
    }
}

#paso3 {
    h3,
    h4 {
        color: $red;
    }
    .step-card-description {
        border-color: $red;
    }
}

.darkHubbub {
    background-color: #333333;
    color: c.$shade-100;
    h3 {
        color: c.$shade-200;
    }
}

.cont-res {
    @include c.containers(0rem, row);
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: max-content;
}

.cont-problem {
    @include c.containers(5rem, column);
    width: max-content;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 1rem 5rem 0 0;
    border-style: solid;
    border-width: 0 0.2rem 0 0;
    border-color: c.$shade-100;
}

.problem-card {
    @include c.containers(1rem, row);
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    img {
        width: 5rem;
        height: 5rem;
    }
    div {
        @include c.containers(0rem, column);
        align-items: flex-start;
        padding-top: 1rem;
    }
    p {
        @include c.typo("montserrat", "Regular", "sm");
        text-align: left;
    }
}

.cont-sol {
    @include c.containers(5rem, row);
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 5rem;
    h3 {
        color: c.$shade-100;
    }
}

.info-card {
    @include c.containers(1rem, column);
    width: 100%;
    max-width: 30rem;
    align-items: center;
    justify-content: center;
}

.cont-graph {
    @include c.containers(5rem, row);
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.graph-card {
    @include c.containers(3rem, column);
    min-width: 30rem;
    max-width: 30rem;
    align-items: center;
    justify-content: center;
    h4 {
        @include c.typo("montserrat", "SemiBold", "lg");
        text-align: center;
    }
    &-legend {
        @include c.containers(2rem, row);
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        row-gap: 0rem;
    }
    &-graphfigure {
        @include c.containers(1rem, row);
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        img {
            width: 2rem;
            height: 2rem;
        }
    }
    &-graphbars {
        @include c.containers(2rem, column);
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
}

.bar {
    @include c.containers(2rem, row);
    width: 100%;
    span {
        @include c.typo("montserrat", "SemiBold", "sm");
        text-align: left;
        width: 1rem;
    }
    &-back {
        background-color: c.$shade-500;
        width: 100%;
        height: 2rem;
    }
    &-front {
        background-color: c.$shade-100;
        width: 10%;
        height: 2rem;
    }
}

.legend-item {
    @include c.containers(1rem, row);
    width: calc(50% - 1rem);
    justify-content: flex-start;
    align-items: flex-start;
    img {
        width: 1rem;
        height: 1rem;
    }
    p {
        @include c.typo("montserrat", "Regular", "xs");
        text-align: left;
    }
}

.cont-screen {
    @include c.containers(0rem, row);
    justify-content: space-between;
    width: 100%;
}

#s1 {
    height: 20rem;
    border-radius: 1rem;
}

#s2 {
    height: 30rem;
    border-radius: 2rem;
}

#s3 {
    height: 50rem;
    border-radius: 3rem;
}

#s1,
#s2,
#s3 {
    box-shadow: 0px 0px 20.625px 0px rgba(0, 0, 0, 0.5);
}

.hubbubScreen {
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

.cont-design {
    @include c.containers(5rem, row);
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cont-colors {
    @include c.containers(0rem, column);
    width: calc(50% - 2.5rem);
    align-items: flex-start;
    .color {
        width: 100%;
        padding: 1.5rem 0 0.5rem 0;
        p {
            @include c.typo("bebas", "SemiBold", "3xl");
            text-align: center;
            width: 100%;
            line-height: normal;
        }
    }
}

.cont-typo {
    @include c.containers(0rem, column);
    width: calc(50% - 2.5rem);
    align-items: flex-start;
    h4 {
        @include c.typo("montserrat", "SemiBold", "xl");
        text-align: left;
        width: 100%;
    }
    p {
        @include c.typo("montserrat", "Regular", "xl");
        text-align: left;
        width: 100%;
    }
}

#OfGrey {
    background-color: #333333;
    color: c.$shade-0;
    border-radius: 1rem 1rem 0 0;
}

#OfYellow {
    background-color: #fff200;
    color: c.$shade-800;
}

#Link {
    background-color: #0075ff;
    color: c.$shade-0;
}

#Rose {
    background-color: #ef5da8;
    color: c.$shade-0;
    border-radius: 0 0 1rem 1rem;
}

.typo-weight {
    width: 100%;
    @include c.containers(0rem, row);
    flex-wrap: wrap;
    p {
        @include c.typo("montserrat", "Regular", "xl");
        text-align: left;
        width: 50%;
    }
}

#Mons1 {
    font-family: "Mons1";
}

#Mons2 {
    font-family: "Mons2";
}

#Mons3 {
    font-family: "Mons3";
}

#Mons4 {
    font-family: "Mons4";
}

#Mons5 {
    font-family: "Mons5";
}

#Mons6 {
    font-family: "Mons6";
}

#Mons7 {
    font-family: "Mons7";
}

#Mons8 {
    font-family: "Mons8";
}

.line-hubbub {
    border: 0.3rem solid #333333;
    opacity: 1;
    width: 90%;
    border-radius: 10px;
}

.document {
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    overflow-x: auto;
    @include c.containers(0rem, column);
    &-page {
        width: 90%;
        transition-duration: 0.5s;
    }
}

.doc-visualizer {
    width: 100%;
    height: min-content;
    @include c.containers(1rem, column);
    &-controls {
        @include c.containers(1rem, row);
    }
    span {
        @include c.typo("montserrat", "SemiBold", "sm");
        width: 5rem;
        color: c.$shade-800;
        text-align: center;
        padding: 1rem 0;
    }
}

.zoom-btn {
    @include c.containers(0rem, row);
    justify-content: center;
    align-items: center;
    background-color: c.$shade-0;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    transition-duration: 0.25s;
    &:hover {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        img {
            opacity: 1;
        }
    }
    img {
        width: 1.5rem;
        height: 1.5rem;
        opacity: 0.75;
    }
}

#doc-title {
    display: none;
}

.gallery {
    &-niv1 {
        @include c.containers(2rem, column);
    }
    &-niv2_1 {
        @include c.containers(2rem, row);
        img {
            width: calc(50% - 1rem);
            border-radius: 1rem;
        }
    }
    &-niv2_2 {
        @include c.containers(2rem, row);
        img {
            width: calc((100% - 4rem) / 3);
            border-radius: 1rem;
        }
    }
    &-niv3 {
        @include c.containers(2rem, column);
    }
    &-niv4 {
        @include c.containers(2rem, row);
        img {
            width: calc(50% - 1rem);
            border-radius: 1rem;
        }
    }
}

iframe {
    width: 100%;
    height: 80vh;
    border-radius: 1rem;
}

.cont-devtools {
    @include c.containers(5rem, row);
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cont-sys {
    @include c.containers(2rem, column);
    width: 100%;
    img {
        width: 100%;
    }
    &-lvl1 {
        @include c.containers(2rem, row);
        width: 100%;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        img {
            width: 30rem;
        }
    }
    &-lvl2 {
        @include c.containers(2rem, row);
        width: 100%;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        img {
            width: calc(50% - 1rem);
        }
    }
}

.cont-link {
    @include c.containers(5rem, row);
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    a {
        @include c.typo("bebas", "Regular", "xl");
        text-align: center;
        width: 10rem;
        color: c.$shade-800;
        @include c.containers(1rem, column);
        &:hover {
            text-decoration: underline;
        }
        img {
            width: 5rem;
            height: 5rem;
        }
    }
}

.img-fin {
    @include c.containers(5rem, row);
    justify-content: center;
    width: 100%;
    border-radius: 1rem;
}

#code {
    width: 50%;
}

@media only screen and (max-width: 140vh) {
    #s1 {
        display: none;
    }
}

@media only screen and (max-width: 100vh) {
    .cont-design {
        @include c.containers(5rem, column);
        width: 100%;
        height: fit-content;
    }
    .cont-colors,
    .cont-typo,
    #code {
        height: fit-content;
        width: 100%;
    }
    .cont-step {
        width: 100%;
    }
    .step-card {
        width: 100%;
    }
    .noneselected {
        display: none;
    }
    .cont-res {
        @include c.containers(5rem, column);
    }
    .cont-problem {
        @include c.containers(5rem, row);
        justify-content: space-between;
        padding: 0px 0px 5rem 0px;
        border-width: 0px 0px 3px 0px;
        width: 100%;
        align-items: flex-start;
    }
    .cont-sol {
        @include c.containers(5rem, row);
        padding: 0px 0px 0px 0px;
        width: 100%;
        align-items: flex-start;
    }
    .problem-card {
        @include c.containers(1rem, column);
        align-items: center;
        h4 {
            text-align: center;
            width: 100%;
        }
        p {
            text-align: center;
            width: 100%;
        }
    }
    .cont-substep {
        @include c.containers(2rem, row);
        width: 100%;
        justify-content: center;
        align-items: flex-start;
    }
    #s1 {
        display: none;
    }
    .gallery {
        &-niv1 {
            @include c.containers(2rem, column);
        }
        &-niv2_1 {
            @include c.containers(2rem, column);
            img {
                width: 100%;
            }
        }
        &-niv2_2 {
            @include c.containers(2rem, row);
            img {
                width: calc((100% - 4rem) / 3);
            }
        }
        &-niv3 {
            @include c.containers(2rem, column);
        }
        &-niv4 {
            @include c.containers(2rem, row);
            img {
                width: calc(50% - 1rem);
            }
        }
    }
}

@media only screen and (max-width: 70vh) {
    #s2 {
        display: none;
    }
    .cont-screen {
        justify-content: center;
        width: 100%;
    }
    .cont-step {
        @include c.containers(2.3rem, row);
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .step-card {
        width: 100%;
    }
    .cont-sol {
        @include c.containers(2.3rem, column);
        width: 100%;
        align-items: center;
    }
}
