@use "./general.scss" as c;

$liverpool: #e10098;
$suburbia: #612066;
$bannana: #333333;
$pottery: #990000;
$potteryk: #80b9e6;
$toys: #0f4dbc;
$william: #e81818;
$west: #ed2724;
$gap: #122344;

@font-face {
    font-display: swap;
    font-family: "Arial";
    src: url("../assets/fonts/brands/ARIAL.TTF");
}
@font-face {
    font-display: swap;
    font-family: "BuenosAires";
    src: url("../assets/fonts/brands/BUENOSAIRES-BOOK.OTF");
}
@font-face {
    font-display: swap;
    font-family: "Oscine";
    src: url("../assets/fonts/brands/DAZNOSCINE-REGULAR.TTF");
}
@font-face {
    font-display: swap;
    font-family: "Flama";
    src: url("../assets/fonts/brands/FLAMA-BOOK.TTF");
}
@font-face {
    font-display: swap;
    font-family: "Gotham";
    src: url("../assets/fonts/brands/GOTHAMBOOK_0.TTF");
}
@font-face {
    font-display: swap;
    font-family: "Lato";
    src: url("../assets/fonts/brands/LATO-REGULAR_0.TTF");
}
@font-face {
    font-display: swap;
    font-family: "Lynstone";
    src: url("../assets/fonts/brands/LYNSTONE.OTF");
}
@font-face {
    font-display: swap;
    font-family: "Roboto";
    src: url("../assets/fonts/brands/ROBOTO-REGULAR_0.TTF");
}
@font-face {
    font-display: swap;
    font-family: "RobotoMed";
    src: url("../assets/fonts/brands/ROBOTO-MEDIUM_0.TTF");
}

//main Liverpool
.liverpool {
    background: url("../assets/imgs/liverpool/background.webp"), #fff;
    background-size: contain;
}

.cont-info {
    @include c.containers(5rem, row);
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.img-atom {
    width: 100%;
}

@mixin typoSpecial($color, $typo) {
    color: $color;
    font-family: $typo;
    font-size: 2.8rem;
    width: calc(470px + 5rem);
}

.cont-brands {
    @include c.containers(5rem, column);
    width: 100%;
    transition: all 0.25s ease-in-out;
    &-sup {
        @include c.containers(1rem, column);
        width: 100%;
        align-items: center;
    }
    &-car {
        @include c.containers(0rem, row);
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 7rem;
    }
    &-arrow {
        width: 3rem;
        height: 3rem;
    }
    &-name {
        height: 2.5rem;
    }
    &-show {
        width: 100%;
        @include c.containers(5rem, row);
        justify-content: center;
        &-mock {
            height: 50rem;
        }
        &-compo {
            @include c.containers(2.5rem, column);
            align-items: flex-start;
            width: -moz-fit-content;
            width: fit-content;
            &-row {
                @include c.containers(5rem, row);
                width: 100%;
            }
            &-text {
                &-Liverpool {
                    @include typoSpecial($liverpool, "Roboto");
                }
                &-Suburbia {
                    @include typoSpecial($suburbia, "Oscine");
                }
                &-Banana {
                    @include typoSpecial($bannana, "Lynstone");
                }
                &-Pottery {
                    @include typoSpecial($pottery, "Lato");
                }
                &-PotteryK {
                    @include typoSpecial($potteryk, "Arial");
                }
                &-Toys {
                    @include typoSpecial($toys, "BuenosAires");
                }
                &-Williams {
                    @include typoSpecial($william, "Flama");
                }
                &-West {
                    @include typoSpecial($west, "Gotham");
                }
                &-GAP {
                    @include typoSpecial($gap, "Arial");
                }
            }
        }
    }
}

@mixin button($primary, $secondary, $border, $typo) {
    @include c.containers(1rem, row);
    background-color: $primary;
    color: $secondary;

    @if $border == true {
        border: 2px solid $secondary;
    } @else {
        border: none;
    }

    font-family: $typo;
    padding: 12px 32px;
    border-radius: 4px;
    font-size: 18px;
    min-width: 235px;

    &:hover {
        filter: saturate(0.5);
    }
}

.btn {
    &-primary-Liverpool {
        @include button($liverpool, c.$shade-0, true, "Roboto");
    }
    &-second-Liverpool {
        @include button(c.$shade-0, $liverpool, true, "Roboto");
    }
    &-primary-Suburbia {
        @include button($suburbia, c.$shade-0, true, "Oscine");
    }
    &-second-Suburbia {
        @include button(c.$shade-0, $suburbia, true, "Oscine");
    }
    &-primary-Banana {
        @include button($bannana, c.$shade-0, true, "Lynstone");
    }
    &-second-Banana {
        @include button(c.$shade-0, $bannana, true, "Lynstone");
    }
    &-primary-Pottery {
        @include button($pottery, c.$shade-0, true, "Lato");
    }
    &-second-Pottery {
        @include button(c.$shade-0, $pottery, true, "Lato");
    }
    &-primary-PotteryK {
        @include button($potteryk, c.$shade-0, true, "Arial");
    }
    &-second-PotteryK {
        @include button(c.$shade-0, $potteryk, true, "Arial");
    }
    &-primary-Toys {
        @include button($toys, c.$shade-0, true, "BuenosAires");
        border-radius: 50px;
    }
    &-second-Toys {
        @include button(c.$shade-0, $toys, true, "BuenosAires");
        border-radius: 50px;
    }
    &-primary-Williams {
        @include button($william, c.$shade-0, true, "Flama");
    }
    &-second-Williams {
        @include button(c.$shade-0, $william, true, "Flama");
    }
    &-primary-West {
        @include button($west, c.$shade-0, true, "Gotham");
    }
    &-second-West {
        @include button(c.$shade-0, $west, true, "Gotham");
    }
    &-primary-GAP {
        @include button($gap, c.$shade-0, true, "Arial");
    }
    &-second-GAP {
        @include button(c.$shade-0, $gap, true, "Arial");
    }
}

@mixin input($color, $typo) {
    width: 100%;
    height: 40px;
    padding: 8px 8px 8px 12px;
    border: 1px solid c.$shade-200;
    border-radius: 4px;
    font-family: $typo;
    font-size: 16px;
    caret-color: $color;
    &::placeholder {
        color: c.$shade-400;
        font-size: 16px;
    }
    &:focus {
        outline-color: $color;
        color: c.$shade-800;
    }
}

.div-input {
    @include c.containers(0rem, column);
    align-items: flex-start;
    width: calc(470px + 5rem);
}

.input {
    &-Liverpool {
        @include input($liverpool, "Roboto");
    }
    &-Suburbia {
        @include input($suburbia, "Oscine");
    }
    &-Banana {
        @include input($bannana, "Lynstone");
    }
    &-Pottery {
        @include input($pottery, "Lato");
    }
    &-PotteryK {
        @include input($potteryk, "Arial");
    }
    &-Toys {
        @include input($toys, "BuenosAires");
    }
    &-Williams {
        @include input($william, "Flama");
    }
    &-West {
        @include input($west, "Gotham");
    }
    &-GAP {
        @include input($gap, "Arial");
    }
    &-span {
        @include c.typo("montserrat", "Regular", "xs");
        color: c.$shade-200;
        padding-left: 8px;
    }
}

.darkLiver {
    background: linear-gradient(0deg, rgba(131, 49, 119, 0.5) 0%, rgba(131, 49, 119, 0.5) 100%), #333;
    color: c.$shade-100;
}

#b1 {
    width: 3rem;
    height: 3rem;
}

#b2 {
    width: 4rem;
    height: 4rem;
}

#b3 {
    width: 5rem;
    height: 5rem;
}

#b4 {
    width: 6rem;
    height: 6rem;
}

#b5 {
    width: 7rem;
    height: 7rem;
}

.line {
    &-liver {
        border: 0.3rem solid #833177;
        opacity: 1;
        width: 90%;
        border-radius: 10px;
    }
}

.cont-steps {
    @include c.containers(4rem, row);
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cont-caso {
    @include c.containers(4rem, row);
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.caso-card {
    border-radius: 1rem;
    width: -moz-fit-content;
    width: fit-content;
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
    &-img {
        width: 100%;
        border-radius: 1rem 1rem 0px 0px;
    }
    &-info {
        padding: 3rem 2.5rem;
        @include c.containers(2rem, column);
        align-items: flex-start;

        h3 {
            text-align: left;
            @include c.typo("montserrat", "SemiBold", "xl");
        }

        p {
            @include c.typo("montserrat", "Regular", "sm");
            color: c.$shade-800;
        }

        a {
            @include c.typo("montserrat", "Regular", "c2");
            color: c.$shade-800;
            text-decoration: underline;
        }
    }
    &:hover {
        box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.2);
    }
}

.atom-design {
    @include c.containers(0rem, row);
    width: 100%;
    justify-content: center;
}

.cont-tec {
    @include c.containers(5rem, row);
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tec-card {
    width: 15rem;
    @include c.containers(2rem, column);

    img {
        width: 5rem;
        height: 5rem;
    }

    p {
        @include c.typo("montserrat", "SemiBold", "base");
        text-align: center;
    }
}

@media only screen and (max-width: 140vh) {
    .cont-brands-show-mock {
        display: none;
    }
}

@media only screen and (max-width: 100vh) {
    .cont-brands-show-mock {
        display: none;
    }
    .cont-brands-show-compo-row {
        flex-direction: column;
        gap: 2rem;
    }
    .div-input {
        width: 235px;
    }
    .cont-caso {
        @include c.containers(4rem, column);
    }
}

@media only screen and (max-width: 70vh) {
    .img-atom {
        width: 50%;
    }
    .div-content {
        align-items: center;
    }
    #b1 {
        display: none;
    }
    #b2 {
        display: none;
    }
    #b3 {
        display: none;
    }
    .tec-card {
        width: 10rem;
    }
    .cont-brands-show-compo-text {
        &-Liverpool {
            @include typoSpecial($liverpool, "Roboto");
            width: 100%;
        }
        &-Suburbia {
            @include typoSpecial($suburbia, "Oscine");
            width: 100%;
        }
        &-Banana {
            @include typoSpecial($bannana, "Lynstone");
            width: 100%;
        }
        &-Pottery {
            @include typoSpecial($pottery, "Lato");
            width: 100%;
        }
        &-PotteryK {
            @include typoSpecial($potteryk, "Arial");
            width: 100%;
        }
        &-Toys {
            @include typoSpecial($toys, "BuenosAires");
            width: 100%;
        }
        &-Williams {
            @include typoSpecial($william, "Flama");
            width: 100%;
        }
        &-West {
            @include typoSpecial($west, "Gotham");
            width: 100%;
        }
        &-GAP {
            @include typoSpecial($gap, "Arial");
            width: 100%;
        }
    }
}
