@use './general.scss' as c;

//main LEFT NAV
.nav-left {
    height: 100vh;
    width: 200px;
    padding: 9rem 2.5rem 5rem 5rem;
    @include c.containers(2rem, column);
    align-items: flex-start;
    justify-content: start;
    flex-shrink: 0;
    position: fixed;
    z-index: 90;

    &-scroll {
        @include c.containers(2.5rem, column);
        padding: 5rem 0.3rem;
        height: 100%;

        .cont {
            flex-shrink: 0;
            @include c.containers(1rem, column);
        }
    }

    .nav-link {
        @include c.typo("bebas", "Regular", "base");
    }
}
.scroll-bar {
    background-color: c.$shade-500;
    mix-blend-mode: exclusion;
    border-radius: 5px;
    width: 5px;
    height: 100%;

    &-fill {
        background-color: c.$red-800;
        mix-blend-mode: normal;
        border-radius: 5px;
        width: 5px;
    }
}
.spam-pos {
    color: c.$shade-300;
    mix-blend-mode: exclusion;
    @include c.typo("bebas", "Regular", "c1");
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

//main HOME
#sobre-mi {
    @include c.containers(5rem, column);
    align-items: flex-start;
    align-self: stretch;
    mix-blend-mode: multiply;
    height: max-content;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
}
#cont-Home {
    @include c.containers(10rem, row);
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 0;
}

.div-text {
    @include c.containers(3rem, column);
    align-items: flex-start;
    width: 50%;
    min-height: fit-content;
    max-height: 100%;
}

.photo-portrait {
    width: calc(50% - 1.5rem);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: calc(100vh - 5rem);
    position: fixed;
    left: 50%; 
    z-index: -10;
}

.foto-mia {
    width: 100%;
    height: 100%;
    align-self: baseline;
    object-fit: cover;
    object-position: bottom;
}

//main EDUCATION
.cont-schools {
    @include c.containers(5rem, row);
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: min-content;
}
.card-school {
    color: c.$shade-100;
    border-color: c.$shade-0;
    outline-style: solid;
    outline-width: 0.2rem;
    border-radius: 1.5rem;
    padding: 3rem 5rem 6rem;
    @include c.containers(3rem, column);
    justify-content: space-between;
    box-shadow: 0px 0px 2.1rem 0px rgba(c.$shade-1000, 0.2) inset;
    min-width: calc(50% - 2.5rem);
    min-height: 51rem;
    max-height: 61rem;
    transition: all 0.1s ease-in-out;

    a {
        color: c.$shade-100;
    }

    &:hover {
        box-shadow: 0px 0px 5rem 0px rgba(c.$shade-1000, 0.4) inset;
        outline-color: c.$red-800;
        outline-style: solid;
        outline-width: 5px;
    }

    &-img {
        width: 15rem;
        height: 15rem;
    }
    &-inst {
        @include c.typo("bebas", "regular", "lg");
        text-align: center;
    }
    &-carrer {
        @include c.typo("bebas", "regular", "5xl");
        text-align: center;
    }
    &-date {
        @include c.typo("montserrat", "semibold", "base");
        text-align: center;
    }
    &-ced {
        @include c.typo("montserrat", "regular", "xl");
        text-align: center;
    }
    &-first {
        @include c.containers(0rem, column);
    }
    &-studies {
        @include c.containers(1rem, column);
    }
    &-extra {
        @include c.containers(0rem, column);
    }
}
.cont-courses {
    @include c.containers(5rem, row);
    justify-content: flex-start;
    color: c.$shade-100;
    min-width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
}
.card-course {
    @include c.containers(1.5rem, column);
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 25rem;
    max-width: 25rem;

    &:hover {
        .card-course-dataB {
            border-left-color: c.$red-800;
            box-shadow: -10px 0px 0.5rem -5px rgba(c.$shade-1000, 0.2);
            transition: all 0.1s ease-in-out;
        }
        .card-course-id {
            text-decoration: underline;
            transition: all 0.1s ease-in-out;
        }
    }

    &-logos {
        @include c.typo("montserrat", "semibold", "base");
        color: c.$shade-0;
        @include c.containers(1rem, row);
    }

    &-institutes {
        @include c.typo("montserrat", "semibold", "sm");
        color: c.$shade-0;
        @include c.containers(1rem, row);
    }

    &-date {
        @include c.typo("montserrat", "semibold", "xs");
        color: c.$shade-0;
        @include c.containers(1rem, row);
    }

    &-name {
        @include c.typo("montserrat", "regular", "base");
        color: c.$shade-0;
        @include c.containers(1rem, row);
    }

    &-id {
        @include c.typo("bebas", "regular", "lg");
        color: c.$shade-0;
        @include c.containers(1rem, row);
    }

    &-dataB {
        @include c.containers(-1rem, column);
        align-items: flex-start;
        border-left-color: c.$shade-0;
        border-left-style: solid;
        border-left-width: 3px;
        padding-left: 2rem;
        align-items: flex-start;
        justify-content: space-between;
        height: 11rem;
    }
}

//main EXPERIENCE
#exp-cont {
    @include c.containers(1rem, column);
    background-color: white;
}
.year-label {
    background-color: c.$gradient;
    padding: 0.5rem 1rem 0.3rem 1rem;
    border-radius: 5px;
    width: 100px;
    text-align: center;

    &-title {
        @include c.typo("bebas", "regular", "sm");
        color: c.$shade-0;
        margin: 0px;
    }
}
.exp-card {
    @include c.containers(2rem, row);
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}
.job-card {
    height: max-content;
    min-width: calc(50% - 50px - 2rem);
    max-width: calc(50% - 50px - 2rem);
    border-radius: 20px 20px 20px 0px;
    background-color: transparent;
    padding: 2rem 1.5rem;
    box-shadow: -25px 25px 50px 0px rgba(51, 51, 51, 0.1);
    @include c.containers(1rem, row);
    align-items: flex-start;
    transition: all 0.25s ease-in-out;
    &:hover {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
        box-shadow: -25px 25px 50px 0px rgba(51, 51, 51, 0.2);
        transition: all 0.25s ease-in-out;
        .job-card-out {
            opacity: 1;
            transition: all 0.25s ease-in-out;
        }
    }
    &-img {
        width: 3.5rem;
        height: 3.5rem;
    }
    &-out {
        width: 2rem;
        height: 2rem;
        opacity: 0;
    }
    &-data {
        @include c.containers(1rem, column);
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
        width: calc(100% - 3.5rem - 2rem - 2rem);
        &-duration {
            @include c.typo("bebas", "regular", "xs");
            color: c.$red-800;
            margin: 0px;
        }
        &-company {
            @include c.typo("bebas", "regular", "base");
            color: c.$shade-800;
            margin: 0px;
        }
        &-role {
            @include c.typo("montserrat", "ExtraBold", "sm");
            color: c.$shade-800;
            margin: 0px;
        }
        &-tags {
            @include c.containers(1rem, row);
            width: 100%;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            &-tag {
                @include c.typo("montserrat", "SemiBold", "c3");
                color: c.$shade-0;
                text-transform: uppercase;
                margin: 0px;
                padding: 0.3rem 0.8rem;
                border-radius: 5px;
                background-color: c.$red-800;
            }
            &-img {
                width: 18px;
            }
        }
    }
}
.company, .compañía {
    background-color: #fa6e91;
}
.project, .proyecto {
    background-color: #d462d9;
}
.job, .trabajo {
    background-color: #b678f0;
}
.design, .diseño {
    background-color: #6a62d9;
}
.programming, .programación {
    background-color: #70a4ff;
}
.date-lateral {
    @include c.containers(0rem, column);
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    &-line {
        background-color: c.$shade-800;
        width: 3px;
        height: 100%;
        border-radius: 3px;
        margin: 0px 2rem;
        min-height: 10px;
    }
    &-month {
        border-color: c.$shade-800;
        border-style: solid;
        border-width: 0px 0rem 0px 0px;
        width: 100px;
        text-align: center;
        &-label {
            @include c.typo("montserrat", "SemiBold", "c3");
            color: c.$shade-800;
            margin: 0px;
            padding: 0.8rem 0rem;
        }
    }
}

//main CONTACT
#contactemos {
    min-height: 100%;
}
.cont-contact {
    @include c.containers(5rem, row);
    align-items: flex-start;
    width: 100%;
    &-text {
        @include c.containers(2rem, column);
        align-items: flex-start;
        @include c.typo("bebas", "regular", "xl");
        color: c.$shade-800;
        width: calc(50% - 2.5rem);
        &-redes {
            @include c.containers(0.5rem, row);
            &-img {
                width: 2rem;
                height: 2rem;
            }
            &-text {
                @include c.typo("montserrat", "regular", "lg");
                color: c.$shade-100;
                margin: 0px;
                padding: 0px 0.5rem;
                transition: all 1s ease-in-out;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &-form {
        @include c.containers(2rem, column);
        align-items: flex-start;
        width: calc(50% - 2.5rem);
        &-input {
            @include c.containers(0.5rem, column);
            align-items: flex-start;
            width: 100%;
        }
    }
}
.label-input {
    @include c.typo("bebas", "regular", "c1");
    color: c.$shade-100;
    opacity: 0.5;
}
input[type="text"],
input[type="email"],
textarea {
    background-color: transparent;
    border-width: 0px 0px 0.2rem 0px;
    padding: 1.5rem;
    color: c.$shade-100;
    width: 100%;
    @include c.typo("montserrat", "regular", "sm");
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2) inset;
    &::placeholder {
        color: c.$shade-100;
        mix-blend-mode: soft-light;
    }
    &:focus {
        outline: none;
        border-color: c.$red-800;
        &::placeholder {
            mix-blend-mode: normal;
        }
    }
}
textarea {
    min-height: 20rem;
    resize: none;
    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

//main MEDIA

@media only screen and (max-width: 100vh) {
    .nav-left {
        display: none;
    }
}

@media only screen and (max-width: 140vh) {
    #cont-Home {
        width: 100%;
        height: max-content;
        padding-bottom: 100px;
    }
    .div-text {
        width: 100%;
    }
    .cont-schools {
        @include c.containers(5rem, column);
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        height: min-content;
    }
    .card-school {
        width: 100%;
        min-height: max-content;
        max-height: max-content;
    }
    .card-course {
        min-width: calc(50% - 2.5rem);
        max-width: calc(50% - 2.5rem);
    }
    .exp-card {
        @include c.containers(2rem, row);
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        height: 200px;
    }
    .date-lateral {
        @include c.containers(0rem, column);
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        &-line {
            background-color: c.$shade-800;
            width: 3px;
            height: 100%;
            border-radius: 3px;
            margin: 0px 2rem;
            min-height: 10px;
        }
        &-month {
            border-color: c.$shade-800;
            border-style: solid;
            border-width: 0px 0rem 0px 0px;
            width: 100px;
            text-align: center;
            &-label {
                @include c.typo("montserrat", "SemiBold", "c3");
                color: c.$shade-800;
                margin: 0px;
                padding: 0.8rem 0rem;
            }
        }
    }
    .cont-contact {
        flex-direction: column;
        &-text {
            width: 100%;
        }
        &-form {
            width: 100%;
        }
    }
}


@media only screen and (max-width: 70vh) {
    .cont-courses{
        row-gap: 8rem;
    }
    .date-lateral-month{
        width: 72px;
    }
    .year-label {
        width: 75px;
    }
    .job-card{
        flex-direction: column;
    }
}

@media only screen and (max-width: 1200px) {
    .photo-portrait {
        display: none;
    }
    .div-text {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .photo-portrait {
        display: none;
    }
    .div-text {
        height: 50vh;
    }
}