::-webkit-scrollbar {
  width: 7.5px;
  height: 7.5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  mix-blend-mode: exclusion;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ff2079;
}

::-moz-selection {
  background: #ff589a;
  color: #000000;
  mix-blend-mode: difference;
  text-decoration: dotted underline;
}

::selection {
  background: #ff589a;
  color: #000000;
  mix-blend-mode: difference;
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}

@font-face {
  font-display: swap;
  font-family: "Raleway-Thin";
  src: url(../assets/fonts/Raleway/Raleway-Thin.TTF);
}
@font-face {
  font-display: swap;
  font-family: "Raleway-ExtraLight";
  src: url(../assets/fonts/Raleway/Raleway-ExtraLight.TTF);
}
@font-face {
  font-display: swap;
  font-family: "Raleway-Light";
  src: url(../assets/fonts/Raleway/Raleway-Light.TTF);
}
@font-face {
  font-display: swap;
  font-family: "Raleway-Regular";
  src: url(../assets/fonts/Raleway/Raleway-Regular.TTF);
}
@font-face {
  font-display: swap;
  font-family: "Raleway-Medium";
  src: url(../assets/fonts/Raleway/Raleway-Medium.TTF);
}
@font-face {
  font-display: swap;
  font-family: "Raleway-SemiBold";
  src: url(../assets/fonts/Raleway/Raleway-SemiBold.TTF);
}
@font-face {
  font-display: swap;
  font-family: "Raleway-Bold";
  src: url(../assets/fonts/Raleway/Raleway-Bold.TTF);
}
@font-face {
  font-display: swap;
  font-family: "Raleway-ExtraBold";
  src: url(../assets/fonts/Raleway/Raleway-ExtraBold.TTF);
}
@font-face {
  font-display: swap;
  font-family: "Raleway-Black";
  src: url(../assets/fonts/Raleway/Raleway-Black.TTF);
}
@font-face {
  font-display: swap;
  font-family: "RockSalt-Regular";
  src: url(../assets/fonts/Home/RockSalt-Regular.ttf);
}
@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  src: url(../assets/fonts/Home/IBMPlexMono-Bold.ttf);
}
html {
  font-size: 10px;
}
@media (max-width: 1200px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 5px;
  }
}
@media (max-width: 300px) {
  html {
    font-size: 4px;
  }
}
@media (max-width: 200px) {
  html {
    font-size: 3px;
  }
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway-Regular", sans-serif;
  background-color: #f7f7f7;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
}

.div-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.div-title h2 {
  color: #4d4d4d;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 3.2rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 1200px) {
  .div-title h2 {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 4rem;
    text-decoration: none;
  }
}
.div-title img {
  width: 5rem;
}
@media (max-width: 1200px) {
  .div-title img {
    display: none;
  }
}

.container-fluid {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 7.5rem 15rem 5rem 15rem;
}
@media (max-width: 1200px) {
  .container-fluid {
    padding: 7.5rem 10rem 5rem 10rem;
  }
}
.container-fluid.grey {
  background-image: url("../assets/imgs/general/noise.png");
  background-repeat: repeat;
  background-size: 100%;
  padding: 7.5rem 15rem 7.5rem 15rem;
}
@media (max-width: 1200px) {
  .container-fluid.grey {
    padding: 7.5rem 10rem 5rem 10rem;
  }
}

.btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-width: 0.2rem;
  border-style: solid;
  transition: all 0.3s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
}
.btn svg {
  width: 2.4rem;
  height: 2.4rem;
}
.btn span {
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
}
@media (max-width: 800px) {
  .btn span {
    font-family: "Raleway-SemiBold", sans-serif;
    font-size: 2.1rem;
    text-decoration: none;
  }
}
.btn.primary {
  border-color: #333333;
  color: #333333;
}
.btn.primary #chevron {
  fill: #333333;
}
.btn.primary:hover {
  background-color: #333333;
  color: #fff;
}
.btn.primary:hover #chevron {
  fill: #fff;
}
.btn.secondary {
  border-color: transparent;
  color: #fff;
  background-color: #333333;
}
.btn.secondary #chevron {
  fill: #fff;
}
.btn.secondary:hover {
  background-color: #000000;
  font-family: "Raleway-Black", sans-serif;
  font-size: 1.4rem;
  text-decoration: underline;
}
@media (max-width: 800px) {
  .btn.secondary:hover {
    font-family: "Raleway-Black", sans-serif;
    font-size: 2.1rem;
    text-decoration: underline;
  }
}

.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 10rem);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5rem;
  box-shadow: 0 0.4rem 5rem 0px rgba(128, 128, 128, 0.1);
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  transition: all 1s ease-in-out;
}
@media (max-width: 800px) {
  .nav-header {
    flex-direction: column;
    border-radius: 0 0 2rem 2rem;
    transition: all 1s ease-in-out;
    gap: 0rem;
    justify-content: flex-start;
  }
}
.nav-header__sup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 2rem;
}
.nav-header__sup img {
  height: 4rem;
  width: 4rem;
}
.nav-header__links {
  display: flex;
  align-items: center;
  max-height: -moz-min-content;
  max-height: min-content;
  gap: 5rem;
}
@media (max-width: 800px) {
  .nav-header__links {
    padding-top: 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 15.5rem) !important;
  }
  .nav-header__links--text {
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: 15rem;
  }
}
.nav-header__links img {
  height: 1.7rem;
}
@media (max-width: 800px) {
  .nav-header__links img {
    height: 17rem;
  }
}
.nav-header__links span {
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: #333333;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 800px) {
  .nav-header__links span {
    font-family: "Raleway-SemiBold", sans-serif;
    font-size: 11.2rem;
    text-decoration: none;
  }
}
.nav-header__links span:hover {
  text-decoration: underline;
}
.nav-header__links span.active {
  color: #ff2079;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  text-decoration: none;
}
@media (max-width: 800px) {
  .nav-header__links span.active {
    font-family: "Raleway-SemiBold", sans-serif;
    font-size: 11.2rem;
    text-decoration: none;
  }
}
.nav-header__options span {
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: #333333;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 800px) {
  .nav-header__options span {
    font-family: "Raleway-SemiBold", sans-serif;
    font-size: 2.1rem;
    text-decoration: none;
  }
}
.nav-header__options span:hover {
  text-decoration: underline;
}
.nav-header__options span.active {
  color: #ff2079;
  text-decoration: none;
}
.nav-header #menu {
  cursor: pointer;
}
.nav-header .contact-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-end;
}
@media (max-width: 1200px) {
  .nav-header .contact-card {
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
  }
}
.nav-header .contact-card__redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.nav-header .contact-card__redes img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1200px) {
  .nav-header .contact-card__redes img {
    width: 5rem;
    height: 5rem;
  }
}
.nav-header .contact-card__redes img:hover {
  transform: scale(1.1);
}

.nav-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 30rem);
  width: 5rem;
  position: fixed;
  padding: 15rem 0px;
}
.nav-left a {
  transform: rotate(-90deg);
  text-decoration: none;
  color: #666666;
  width: -moz-max-content;
  width: max-content;
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
}
@media (max-width: 800px) {
  .nav-left a {
    display: none;
  }
}
.nav-left a:hover {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}

.work-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}
.work-list .work-card {
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  gap: 2rem;
}
.work-list .work-card img {
  height: -moz-min-content;
  height: min-content;
  border-radius: 1rem;
}
.work-list .work-card .img-cover {
  display: block;
}
.work-list .work-card .gif-cover {
  display: none;
}
.work-list .work-card:hover {
  border-radius: 2rem;
  box-shadow: 2rem 2rem 4rem #d2d2d2, -2rem -2rem 4rem #ffffff;
  transition: all 0.3s ease-in-out;
  transform: scale(1.02);
}
.work-list .work-card:hover .img-cover {
  display: none;
}
.work-list .work-card:hover .gif-cover {
  display: block;
}
.work-list .work-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 2rem;
}
.work-list .work-card__body-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.work-list .work-card__body-info-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.work-list .work-card__body-info-tags span {
  background-color: #4d4d4d;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .work-list .work-card__body-info-tags span {
    font-family: "Raleway-SemiBold", sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
  }
}
.work-list .work-card__body-info-head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.work-list .work-card__body-info-head h3 {
  color: #333333;
  font-family: "Raleway-Semibold", sans-serif;
  font-size: 2.4rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 1200px) {
  .work-list .work-card__body-info-head h3 {
    font-family: "Raleway-Semibold", sans-serif;
    font-size: 3rem;
    text-decoration: none;
  }
}
.work-list .work-card__body-info-head span {
  color: #666666;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 1200px) {
  .work-list .work-card__body-info-head span {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }
}
.work-list .work-card__body-foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.work-list .work-card__body-foot .info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.work-list .work-card__body-foot .info span {
  color: #333333;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 1200px) {
  .work-list .work-card__body-foot .info span {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }
}
.work-list .work-card__body-foot .info__comp {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.work-list .work-card__body-foot .info__comp-imgs {
  display: flex;
  flex-direction: row;
  gap: 0rem;
}
.work-list .work-card__body-foot .info__comp-imgs img {
  width: 2rem;
}
.work-list .work-card__body-foot .info__comp span {
  color: #333333;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 1200px) {
  .work-list .work-card__body-foot .info__comp span {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }
}

.tags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.tags-list__tag {
  border-color: #ff2079;
  border-style: solid;
  border-width: 0.2rem;
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  gap: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.tags-list__tag img {
  display: none;
}
.tags-list__tag span {
  color: #ff2079;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .tags-list__tag span {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
  }
}
.tags-list__tag.active {
  background-color: #ff2079;
}
.tags-list__tag.active span {
  color: #fff;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .tags-list__tag.active span {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
  }
}
.tags-list__tag.active img {
  display: block;
  width: 1.5rem;
}
@media (max-width: 1200px) {
  .tags-list__tag.active img {
    width: 2rem;
  }
}

#hola,
#hello {
  gap: 8rem;
  padding: 20rem 15rem 10rem 15rem;
}
@media (max-width: 1200px) {
  #hola,
  #hello {
    padding: 20rem 10rem 10rem 10rem;
  }
}
#hola #hola-head,
#hello #hola-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 8rem;
}
@media (max-width: 1200px) {
  #hola #hola-head,
  #hello #hola-head {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
#hola #hola-head h2,
#hello #hola-head h2 {
  color: #4d4d4d;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 1200px) {
  #hola #hola-head h2,
  #hello #hola-head h2 {
    font-family: "Raleway-Regular", sans-serif;
    font-size: 3rem;
    text-decoration: none;
  }
}
#hola #hola-head h1,
#hello #hola-head h1 {
  color: #ff2079;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 8.5rem;
  text-decoration: none;
  padding-bottom: 1rem;
  margin: 0px;
}
@media (max-width: 1200px) {
  #hola #hola-head h1,
  #hello #hola-head h1 {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 6rem;
    text-decoration: none;
    padding-bottom: 3rem;
  }
}
#hola #hola-head #hola-head__text__pointer,
#hello #hola-head #hola-head__text__pointer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
#hola #hola-head #pd,
#hello #hola-head #pd {
  font-family: "RockSalt-Regular", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  width: 43%;
  line-height: 5rem;
}
@media (max-width: 1200px) {
  #hola #hola-head #pd,
  #hello #hola-head #pd {
    font-family: "RockSalt-Regular", sans-serif;
    font-size: 3rem;
    text-decoration: none;
    width: 49%;
  }
}
#hola #hola-head #point,
#hello #hola-head #point {
  font-family: "Raleway-Black", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  width: 2%;
}
#hola #hola-head #sd,
#hello #hola-head #sd {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  width: 55%;
}
@media (max-width: 1200px) {
  #hola #hola-head #sd,
  #hello #hola-head #sd {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 3rem;
    text-decoration: none;
    width: 49%;
  }
}
#hola #hola-head img,
#hello #hola-head img {
  width: 20rem;
}
@media (max-width: 1200px) {
  #hola #hola-head img,
  #hello #hola-head img {
    width: 25rem;
  }
}
#hola #hola-head img:hover,
#hello #hola-head img:hover {
  border-radius: 50%;
  background: #f7f7f7;
  box-shadow: 2rem 2rem 4rem #d2d2d2, -2rem -2rem 4rem #ffffff;
}
#hola #hola-text p,
#hello #hola-text p {
  color: #666666;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 2.4rem;
  text-decoration: none;
}
@media (max-width: 1200px) {
  #hola #hola-text p,
  #hello #hola-text p {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 2.8rem;
    text-decoration: none;
  }
}

#colab .colab-carrousel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5rem;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
@media (max-width: 1200px) {
  #colab .colab-carrousel {
    gap: 7rem;
  }
}
#colab .colab-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: calc(-moz-min-content + 20rem);
  width: calc(min-content + 20rem);
  padding-bottom: 5rem;
}
#colab .colab-card__head {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  height: -moz-fit-content;
  height: fit-content;
}
#colab .colab-card__head img {
  width: 4rem;
}
@media (max-width: 1200px) {
  #colab .colab-card__head img {
    width: 5rem;
  }
}
#colab .colab-card__head__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#colab .colab-card__head__text h3 {
  color: #4d4d4d;
  font-family: "Raleway-Semibold", sans-serif;
  font-size: 2.4rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 1200px) {
  #colab .colab-card__head__text h3 {
    font-family: "Raleway-Semibold", sans-serif;
    font-size: 3rem;
    text-decoration: none;
  }
}
#colab .colab-card__head__text span {
  color: #4d4d4d;
  font-family: "Raleway-Semibold", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 1200px) {
  #colab .colab-card__head__text span {
    font-family: "Raleway-Semibold", sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }
}
#colab .colab-card h4 {
  color: #4d4d4d;
  margin: 0px;
  font-family: "Raleway-Semibold", sans-serif;
  font-size: 2rem;
  text-decoration: none;
}
@media (max-width: 1200px) {
  #colab .colab-card h4 {
    font-family: "Raleway-Semibold", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
  }
}
#colab .colab-card ul {
  padding-left: 3rem;
  margin: 0px;
}
#colab .colab-card li {
  color: #666666;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 1200px) {
  #colab .colab-card li {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }
}

#trabajos .work__cta,
#works .work__cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

#conozcamonos .contact-card,
#getInTouch .contact-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-end;
}
@media (max-width: 1200px) {
  #conozcamonos .contact-card,
  #getInTouch .contact-card {
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
  }
}
#conozcamonos .contact-card__text,
#getInTouch .contact-card__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#conozcamonos .contact-card__text p,
#getInTouch .contact-card__text p {
  font-family: "Raleway-Medium", sans-serif;
  font-size: 2.4rem;
  text-decoration: none;
  color: #4d4d4d;
  margin: 0px;
}
@media (max-width: 1200px) {
  #conozcamonos .contact-card__text p,
  #getInTouch .contact-card__text p {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 2.8rem;
    text-decoration: none;
  }
}
#conozcamonos .contact-card__text-link,
#getInTouch .contact-card__text-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#conozcamonos .contact-card__text-link:hover,
#getInTouch .contact-card__text-link:hover {
  text-decoration: underline;
}
#conozcamonos .contact-card__text-link img,
#getInTouch .contact-card__text-link img {
  width: 2rem;
  height: 2rem;
}
#conozcamonos .contact-card__text-link span,
#getInTouch .contact-card__text-link span {
  color: #4d4d4d;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 1200px) {
  #conozcamonos .contact-card__text-link span,
  #getInTouch .contact-card__text-link span {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
  }
}
#conozcamonos .contact-card__redes,
#getInTouch .contact-card__redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
#conozcamonos .contact-card__redes img,
#getInTouch .contact-card__redes img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1200px) {
  #conozcamonos .contact-card__redes img,
  #getInTouch .contact-card__redes img {
    width: 5rem;
    height: 5rem;
  }
}
#conozcamonos .contact-card__redes img:hover,
#getInTouch .contact-card__redes img:hover {
  transform: scale(1.1);
}

footer {
  background-color: #000000;
  color: #fff;
  flex-direction: row !important;
  justify-content: space-between;
}
@media (max-width: 800px) {
  footer {
    flex-direction: column !important;
    align-items: center;
  }
}
footer .footer__links {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 5rem;
}
@media (max-width: 800px) {
  footer .footer__links {
    flex-direction: column;
    gap: 10rem;
  }
}
footer .footer__links-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 1200px) {
  footer .footer__links-card {
    gap: 2rem;
  }
}
footer .footer__links-card h4 {
  color: #fff;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 800px) {
  footer .footer__links-card h4 {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 4rem;
    text-decoration: none;
  }
}
footer .footer__links-card span {
  font-family: "Raleway-Medium", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 800px) {
  footer .footer__links-card span {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }
}
footer .footer__links-card span:hover {
  text-decoration: underline;
}
footer .footer__links-card span.active {
  color: #ff2079;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-decoration: none;
}
@media (max-width: 1200px) {
  footer .footer__links-card span.active {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }
}
footer img {
  width: 17rem;
}
@media (max-width: 1200px) {
  footer img {
    display: none;
  }
}

.div-error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 5rem;
  padding: 0rem 15rem 0rem 15rem;
}
@media (max-width: 1200px) {
  .div-error {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10rem;
  }
}
.div-error img {
  width: 30rem;
}
.div-error h1 {
  color: #ff3c8a;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 4rem;
  text-decoration: none;
  padding-bottom: 1rem;
  margin: 0px;
}
@media (max-width: 1200px) {
  .div-error h1 {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 6rem;
    text-decoration: none;
    padding-bottom: 3rem;
  }
}
.div-error p {
  color: #666666;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 2rem;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .div-error p {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
  }
}
.div-error .work__cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
@media (max-width: 1200px) {
  .div-error .work__cta {
    justify-content: center;
  }
}

#mis-trabajos,
#my-works {
  padding: 10rem 15rem;
}
#mis-trabajos #span,
#my-works #span {
  color: #666666;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 1200px) {
  #mis-trabajos #span,
  #my-works #span {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }
}
@media (max-width: 1200px) {
  #mis-trabajos,
  #my-works {
    padding: 15rem 10rem;
  }
}

#linea-del-tiempo .time-line,
#timeline .time-line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  -webkit-clip-path: fill-box;
          clip-path: fill-box;
  overflow-x: scroll;
}
#linea-del-tiempo .time-line-filters,
#timeline .time-line-filters {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}
#linea-del-tiempo .time-line-filters__boton,
#timeline .time-line-filters__boton {
  border-width: 0.2rem;
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
#linea-del-tiempo .time-line-filters__boton span,
#timeline .time-line-filters__boton span {
  color: #fff;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}
@media (max-width: 1200px) {
  #linea-del-tiempo .time-line-filters__boton span,
  #timeline .time-line-filters__boton span {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
  }
}
#linea-del-tiempo .time-line-filters__boton.active,
#timeline .time-line-filters__boton.active {
  background-color: #ff2079;
}
#linea-del-tiempo .time-line-filters__boton.active span,
#timeline .time-line-filters__boton.active span {
  color: #fff;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}
@media (max-width: 1200px) {
  #linea-del-tiempo .time-line-filters__boton.active span,
  #timeline .time-line-filters__boton.active span {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
  }
}
#linea-del-tiempo .time-line-filters__boton.active img,
#timeline .time-line-filters__boton.active img {
  display: block;
  width: 1.5rem;
}
@media (max-width: 1200px) {
  #linea-del-tiempo .time-line-filters__boton.active img,
  #timeline .time-line-filters__boton.active img {
    width: 2rem;
  }
}
#linea-del-tiempo .time-line-measure,
#timeline .time-line-measure {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.2rem;
  -webkit-clip-path: fill-box;
          clip-path: fill-box;
  overflow-x: scroll;
}
@media (max-width: 1400px) {
  #linea-del-tiempo .time-line-measure,
  #timeline .time-line-measure {
    gap: 1rem;
  }
}
@media (max-width: 1200px) {
  #linea-del-tiempo .time-line-measure,
  #timeline .time-line-measure {
    gap: 0.8rem;
  }
}
@media (max-width: 900px) {
  #linea-del-tiempo .time-line-measure,
  #timeline .time-line-measure {
    gap: 0.5rem;
  }
}
#linea-del-tiempo .time-line-measure__line,
#timeline .time-line-measure__line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 4px;
}
#linea-del-tiempo .time-line-measure__line span,
#timeline .time-line-measure__line span {
  color: #666666;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
}
@media (max-width: 1200px) {
  #linea-del-tiempo .time-line-measure__line span,
  #timeline .time-line-measure__line span {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }
}
#linea-del-tiempo .time-line-squema,
#timeline .time-line-squema {
  width: 100%;
  padding-bottom: 2.5rem;
}
#linea-del-tiempo .time-line-squema__container,
#timeline .time-line-squema__container {
  padding-bottom: 1.5rem;
  position: relative;
}
#linea-del-tiempo .time-line-squema__container-item,
#timeline .time-line-squema__container-item {
  height: 1.5rem;
  border-radius: 0.75rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}
#linea-del-tiempo .time-line-squema__container-item span,
#timeline .time-line-squema__container-item span {
  background-color: #333333;
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 0rem 1rem 1rem 1rem;
  filter: drop-shadow(0px 2px 0.5rem #808080);
  display: none;
  position: absolute;
  z-index: 10;
  top: 1.7rem;
  left: 1.7rem;
}
#linea-del-tiempo .time-line-squema__container-item:hover,
#timeline .time-line-squema__container-item:hover {
  background-color: #ff2079;
  box-shadow: 2px 2px 4px #c4c4c4, -2px -2px 4px #ffffff;
  transform: scale(1.1);
  cursor: pointer;
}
#linea-del-tiempo .time-line-squema__container-item:hover span,
#timeline .time-line-squema__container-item:hover span {
  display: initial;
}
#linea-del-tiempo .time-line-squema__container#Freelance,
#timeline .time-line-squema__container#Freelance {
  height: 1.5rem;
  z-index: 9;
}
#linea-del-tiempo .time-line-squema__container#Marsoft,
#timeline .time-line-squema__container#Marsoft {
  height: 7.5rem;
  z-index: 8;
}
#linea-del-tiempo .time-line-squema__container#Grupo-PM,
#timeline .time-line-squema__container#Grupo-PM {
  height: 1.5rem;
  z-index: 7;
}
#linea-del-tiempo .time-line-squema__container#Liverpool,
#timeline .time-line-squema__container#Liverpool {
  height: 1.5rem;
  z-index: 6;
}
#linea-del-tiempo .time-line-info,
#timeline .time-line-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  width: 100%;
}
#linea-del-tiempo .time-line-info__card,
#timeline .time-line-info__card {
  transition: all 0.3s ease-in-out;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  height: 12rem;
}
@media (max-width: 1200px) {
  #linea-del-tiempo .time-line-info__card,
  #timeline .time-line-info__card {
    height: 25rem;
  }
}
#linea-del-tiempo .time-line-info__card-head,
#timeline .time-line-info__card-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  width: 100%;
  justify-content: center;
}
@media (max-width: 1200px) {
  #linea-del-tiempo .time-line-info__card-head,
  #timeline .time-line-info__card-head {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }
}
#linea-del-tiempo .time-line-info__card-head__text,
#timeline .time-line-info__card-head__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}
@media (max-width: 1200px) {
  #linea-del-tiempo .time-line-info__card-head__text,
  #timeline .time-line-info__card-head__text {
    align-items: center;
    text-align: center;
  }
}
#linea-del-tiempo .time-line-info__card-head__text h2,
#timeline .time-line-info__card-head__text h2 {
  color: #4d4d4d;
  font-family: "Raleway-Semibold", sans-serif;
  font-size: 2.4rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 1200px) {
  #linea-del-tiempo .time-line-info__card-head__text h2,
  #timeline .time-line-info__card-head__text h2 {
    font-family: "Raleway-Semibold", sans-serif;
    font-size: 3rem;
    text-decoration: none;
  }
}
#linea-del-tiempo .time-line-info__card-head__text p,
#timeline .time-line-info__card-head__text p {
  color: #666666;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 1200px) {
  #linea-del-tiempo .time-line-info__card-head__text p,
  #timeline .time-line-info__card-head__text p {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }
}
#linea-del-tiempo .time-line-info h3,
#timeline .time-line-info h3 {
  color: #4d4d4d;
  font-family: "Raleway-Semibold", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  margin: 0px;
  height: -moz-max-content;
  height: max-content;
}
@media (max-width: 1200px) {
  #linea-del-tiempo .time-line-info h3,
  #timeline .time-line-info h3 {
    font-family: "Raleway-Semibold", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
  }
}
#linea-del-tiempo .time-line-info #cardUno,
#linea-del-tiempo .time-line-info #cardTres,
#timeline .time-line-info #cardUno,
#timeline .time-line-info #cardTres {
  opacity: 0.5;
  transform: scale(0.8);
}
@media (max-width: 800px) {
  #linea-del-tiempo .time-line-info #cardUno,
  #linea-del-tiempo .time-line-info #cardTres,
  #timeline .time-line-info #cardUno,
  #timeline .time-line-info #cardTres {
    display: none;
  }
}

#resume {
  padding-top: 10rem;
  align-items: center;
}
#resume .resume__sheet {
  width: 210mm;
  height: 297mm;
  background: white;
  padding: 15mm;
  box-sizing: border-box;
  border-radius: 3mm;
}
#resume .resume__sheet-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5mm;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
#resume .resume__sheet-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1mm;
}
#resume .resume__sheet-header h1 {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 48px;
  text-decoration: none;
  margin: 0px;
}
#resume .resume__sheet-header h2 {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #4d4d4d;
  margin: 0px;
}
#resume .resume__sheet-header hr {
  width: 100%;
  height: 0.2rem;
  background-color: #cccccc;
  border-radius: 1rem;
  border: none;
}
#resume .resume__sheet-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10mm;
  width: 100%;
}
#resume .resume__sheet-content__info {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5mm;
}
#resume .resume__sheet-content__info-card {
  display: flex;
  flex-direction: column;
  gap: 1mm;
}
#resume .resume__sheet-content__info-card h3 {
  color: #4d4d4d;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 18px;
  text-decoration: none;
  margin: 0px;
}
#resume .resume__sheet-content__info-card__bullets {
  display: flex;
  flex-direction: column;
  gap: 0.8mm;
}
#resume .resume__sheet-content__info-card__bullets p {
  color: #808080;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 11px;
  text-decoration: none;
  margin: 0px;
}
#resume .resume__sheet-content__info-card__bullets a p {
  margin: 0px;
  color: #4d4d4d;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 11px;
  text-decoration: none;
}
#resume .resume__sheet-content__body {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5mm;
}
#resume .resume__sheet-content__body-card {
  display: flex;
  flex-direction: column;
  gap: 2mm;
}
#resume .resume__sheet-content__body-card h3 {
  color: #4d4d4d;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 18px;
  text-decoration: none;
  margin: 0px;
}
#resume .resume__sheet-content__body-card-summary ul {
  padding-left: 2mm;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 11px;
  text-decoration: none;
  margin: 0px;
}
#resume .resume__sheet-content__body-card-experiencia {
  padding: 2mm 0px 0px 0px;
}
#resume .resume__sheet-content__body-card-experiencia h4 {
  font-family: "Raleway-Medium", sans-serif;
  font-size: 11px;
  text-decoration: none;
  margin: 0px;
}
#resume .resume__sheet-content__body-card-experiencia__ubicacion {
  font-family: "Raleway-Medium", sans-serif;
  font-size: 11px;
  text-decoration: none;
  color: #808080;
  margin: 0px;
  padding-bottom: 5mm;
}
#resume .resume__sheet-content__body-card-experiencia ul {
  margin: 0;
  padding-left: 2mm;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 11px;
  text-decoration: none;
}

.printable {
  display: none;
}

#conozcamonos,
#get-to-know-me {
  padding: 10rem 15rem;
}
@media (max-width: 1200px) {
  #conozcamonos,
  #get-to-know-me {
    padding: 15rem 10rem;
  }
}
#conozcamonos #span,
#get-to-know-me #span {
  color: #666666;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 800px) {
  #conozcamonos #span,
  #get-to-know-me #span {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }
}
#conozcamonos .tab,
#get-to-know-me .tab {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  width: 100%;
}
#conozcamonos .tab-buttons,
#get-to-know-me .tab-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#conozcamonos .tab-buttons__item,
#get-to-know-me .tab-buttons__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#conozcamonos .tab-buttons__item:hover,
#get-to-know-me .tab-buttons__item:hover {
  text-decoration: underline;
}
#conozcamonos .tab-buttons__item img,
#get-to-know-me .tab-buttons__item img {
  width: 2rem;
  height: 2rem;
}
@media (max-width: 1200px) {
  #conozcamonos .tab-buttons__item img,
  #get-to-know-me .tab-buttons__item img {
    width: 3rem;
    height: 3rem;
  }
}
#conozcamonos .tab-buttons__item span,
#get-to-know-me .tab-buttons__item span {
  color: #333333;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 1.8rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 1200px) {
  #conozcamonos .tab-buttons__item span,
  #get-to-know-me .tab-buttons__item span {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
  }
}
#conozcamonos .tab-buttons__item.active,
#get-to-know-me .tab-buttons__item.active {
  background-color: #fff;
  border-radius: 5px;
}
#conozcamonos .tab-buttons__item.active span,
#get-to-know-me .tab-buttons__item.active span {
  display: block;
}
@media (max-width: 1200px) {
  #conozcamonos .tab-buttons__item.active span,
  #get-to-know-me .tab-buttons__item.active span {
    display: none;
  }
}
#conozcamonos .tab-buttons__item.inactive,
#get-to-know-me .tab-buttons__item.inactive {
  opacity: 25%;
}
#conozcamonos .tab-buttons__item.inactive span,
#get-to-know-me .tab-buttons__item.inactive span {
  display: block;
}
@media (max-width: 1200px) {
  #conozcamonos .tab-buttons__item.inactive span,
  #get-to-know-me .tab-buttons__item.inactive span {
    display: none;
  }
}
#conozcamonos .tab-body,
#get-to-know-me .tab-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 5rem;
  background-color: #fff;
  width: calc(100% - 6rem);
  padding: 3rem;
}
#conozcamonos .tab-body span,
#get-to-know-me .tab-body span {
  color: #666666;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 800px) {
  #conozcamonos .tab-body span,
  #get-to-know-me .tab-body span {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }
}
#conozcamonos .tab-content,
#get-to-know-me .tab-content {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  gap: 3rem;
}
@media (max-width: 1000px) {
  #conozcamonos .tab-content,
  #get-to-know-me .tab-content {
    width: calc(100% - 6rem);
    margin: 0px;
  }
}
@media (max-width: 800px) {
  #conozcamonos .tab-content,
  #get-to-know-me .tab-content {
    flex-direction: column;
    align-items: center;
  }
}
#conozcamonos .tab-content .div-img,
#get-to-know-me .tab-content .div-img {
  height: 20rem;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 800px) {
  #conozcamonos .tab-content .div-img,
  #get-to-know-me .tab-content .div-img {
    width: 100%;
    border-radius: 2rem;
  }
}
#conozcamonos .tab-content__info-text,
#get-to-know-me .tab-content__info-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
#conozcamonos .tab-content__info-text h2,
#get-to-know-me .tab-content__info-text h2 {
  font-family: "Raleway-semibold", sans-serif;
  font-size: 2.4rem;
  text-decoration: none;
  margin: 0px;
}
@media (max-width: 800px) {
  #conozcamonos .tab-content__info-text h2,
  #get-to-know-me .tab-content__info-text h2 {
    font-family: "Raleway-semibold", sans-serif;
    font-size: 3rem;
    text-decoration: none;
  }
}
#conozcamonos .tab-content__info-text__list,
#get-to-know-me .tab-content__info-text__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 5rem 0px 5rem;
  width: calc(100% - 10rem);
}
@media (max-width: 1200px) {
  #conozcamonos .tab-content__info-text__list,
  #get-to-know-me .tab-content__info-text__list {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
  }
}
#conozcamonos .tab-content__info-text__list-item,
#get-to-know-me .tab-content__info-text__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
#conozcamonos .tab-content__info-text__list-item img,
#get-to-know-me .tab-content__info-text__list-item img {
  width: 3rem;
  height: 3rem;
}
@media (max-width: 1200px) {
  #conozcamonos .tab-content__info-text__list-item img,
  #get-to-know-me .tab-content__info-text__list-item img {
    width: 4rem;
    height: 4rem;
  }
}
#conozcamonos .tab-content__info-text__list-item span,
#get-to-know-me .tab-content__info-text__list-item span {
  font-family: "Raleway-semibold", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
}
@media (max-width: 1200px) {
  #conozcamonos .tab-content__info-text__list-item span,
  #get-to-know-me .tab-content__info-text__list-item span {
    font-family: "Raleway-semibold", sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }
}
#conozcamonos .music-list,
#get-to-know-me .music-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
  gap: 2rem;
}
@media (max-width: 800px) {
  #conozcamonos .music-list,
  #get-to-know-me .music-list {
    flex-direction: column;
  }
}
#conozcamonos .music-list .music-card,
#get-to-know-me .music-list .music-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 30rem;
  width: 100%;
  min-width: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #f7f7f7;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 800px) {
  #conozcamonos .music-list .music-card,
  #get-to-know-me .music-list .music-card {
    flex-direction: row;
    max-width: calc(100% - 4rem);
    gap: 2rem;
    align-items: flex-start;
  }
}
#conozcamonos .music-list .music-card__cover,
#get-to-know-me .music-list .music-card__cover {
  width: 100%;
  aspect-ratio: 1/1;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 800px) {
  #conozcamonos .music-list .music-card__cover,
  #get-to-know-me .music-list .music-card__cover {
    width: 30rem;
    aspect-ratio: 1/1;
  }
}
#conozcamonos .music-list .music-card__info,
#get-to-know-me .music-list .music-card__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#conozcamonos .music-list .music-card__info h3,
#get-to-know-me .music-list .music-card__info h3 {
  font-family: "Raleway-Black", sans-serif;
  font-size: 3rem;
  text-decoration: none;
  margin-bottom: 1rem;
}
@media (max-width: 800px) {
  #conozcamonos .music-list .music-card__info h3,
  #get-to-know-me .music-list .music-card__info h3 {
    font-family: "Raleway-Black", sans-serif;
    font-size: 3.2rem;
    text-decoration: none;
  }
}
#conozcamonos .music-list .music-card__info p,
#get-to-know-me .music-list .music-card__info p {
  font-family: "Raleway-Semibold", sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  color: #666666;
  margin: 0px;
}
@media (max-width: 800px) {
  #conozcamonos .music-list .music-card__info p,
  #get-to-know-me .music-list .music-card__info p {
    font-family: "Raleway-Semibold", sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }
}
#conozcamonos .music-list .music-card__info #year,
#get-to-know-me .music-list .music-card__info #year {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
}
@media (max-width: 800px) {
  #conozcamonos .music-list .music-card__info #year,
  #get-to-know-me .music-list .music-card__info #year {
    font-family: "Raleway-Regular", sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }
}/*# sourceMappingURL=style.css.map */